[2016-08-31 15:34] blowback opened #4 "ngModel support"
It would be great if this component supported `ngModel` directly. I want to have a form which includes a Froala editor, and a "submit" button which is only enabled if the form is dirty. This currently doesn't seem possible, even if you use the `<input [ngModel]="froalaContent">` hack.

Typing in that input will cause the submit button to become enabled, but typing in Froala will not.

[2016-09-01 00:12] blowback opened #5 "editor does not update when froalaModel changes"
This seems to be because of this code, which only permits one-time setup:

[code]

I changed it to this, which seems to work:

[code]

[2016-09-04 20:36] #5 closed

[2016-09-04 20:40] florinpopescu commented on #5
Thanks for the feedback. Please check and see if it works for you 😃 .

[2016-09-04 23:55] blowback commented on #5
Thanks! I'm AFK for a couple of weeks, i'll give it a try when I get back.

[2016-09-05 11:17] florinpopescu commented on #4
Hello @blowback ,

In order to communicate with forms you could make a wrapper component on `FroalaEditorDirective` that implements `ControlValueAccessor` Interface. The wrapper will write and read(listen) `froalaModel`.

Here is some great articles about this:
http://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html
http://almerosteyn.com/2016/04/linkup-custom-control-t

[2016-09-15 10:04] webtrix opened #7 "Update to Angular 2.0.0"
Hi Guys,

I see that you're latest version still runs on RC.4. When are you planning to update to Angular 2.0.0

[2016-09-15 10:12] stefanneculai commented on #7
They just got out of RC.4 few hours ago. We'll put an update for it shortly.

[2016-09-15 10:15] webtrix commented on #7
@stefanneculai .. nah, 2.0.0 just got release a few hours ago. RC.5 was released more than a month ago.
[Angular 2 changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md)

[2016-09-28 12:20] blowback commented on #5
Sorry it took so long to verify, but yes this works nicely now, thanks.

[2016-10-16 10:28] treylon commented on #7
Are there any updates on when the update to the new module system will arrive?

[2016-10-27 07:40] jarrettj opened #9 "Installation with webpack"
Hi, good day.

How would you install using webpack?

[2016-10-27 07:55] stefanneculai commented on #7
It's been updated.

[2016-10-27 07:55] #7 closed

[2016-10-27 08:11] stefanneculai commented on #9
See https://github.com/froala/angular2-froala-wysiwyg/blob/master/src/app.module.ts#L4.

[2016-10-27 08:11] #9 closed

[2016-11-03 09:58] KhanSangeeta opened #10 "Character Counting doesn't work when using suggestive text in mobile devices : Andrioid/IOS"
##### Expected behavior.
Characters should be counted correctly on suggestive text of Andriod/IOS keyboards

##### Actual behavior.
Character count is not counted with the suggestive text until a key is pressed from the keyboard(Andriod/IOS mobile devices), along with accepting the input even the maximum characters exceeded.

##### Steps to reproduce the problem.
1.Launch the app
2.Go to the Froal

[2016-11-03 10:02] KhanSangeeta opened #11 "Custom DropDown integration using AngularJS2"
Could anyone help me how to integrate the plugin using AngularJS2. I tried, defining the plugin when the view is entered and declared the dropdown in froalaEditor options.

Something looks like this 👍
[code]

It doesnt help me out. Please suggest if any ways.

[2016-11-09 21:40] lmssrinivas opened #12 "How to integrate at.js(atwho) library with angular 2."
How  to integrate `at.js(atwho)` library with angular 2.

[2016-11-09 22:41] swapp1990 opened #13 "Cannot find name 'JQueryStatic'."
I have done 'bower install' and 'npm install' successfully. But when I run 'npm start' I am getting this error: error TS2304: Cannot find name 'JQueryStatic'. It's in the file: froala.directives.ts.
Am I missing a step somwehere?

[2016-11-10 09:44] florinpopescu commented on #13
Hi @swapp1990 ,

I am only reproducing this if I remove 'jquery' dependency from typings.json.
Your typings.json should look like this:
[code]
Can you please check it?

Thanks!

[2016-11-10 09:52] stefanneculai commented on #12
In order to integrate the editor with At.JS, you have to add some code on initialization event: https://www.froala.com/wysiwyg-editor/examples/at-js.

[2016-11-10 09:52] #12 closed

[2016-11-12 19:51] cesarbarone opened #14 "Strict Mode Error"
Hi,

I got this error in by project:

Function declarations are not allowed inside blocks in strict mode when targeting 'ES3' or 'ES5'. Class definitions are automatically in strict mode

Can anyone help me?

[2016-11-14 09:46] stefanneculai commented on #13
You should run:
[code]

[2016-11-14 09:46] #13 closed

[2016-11-14 09:54] #14 closed

[2016-11-15 08:23] TekSiDoT opened #15 "Unexpected value 'FroalaEditorDirective'"
Following the sample implementation the following snippet causes
`Uncaught Error: Unexpected value 'FroalaEditorDirective' declared by the module 'AppModule'(…)`:

app.module.ts:
`import { FroalaEditorDirective, FroalaViewDirective } from '../../node_modules/angular2-froala-wysiwyg/lib/froala.directives';`

`@NgModule({
  imports: [ ... ],
  declarations: [
    AppComponent,
    HomeComponent,

[2016-12-06 06:50] msaiyaff opened #16 "In the wisywig it'd be great if there's an option to add a checklist."

[2016-12-08 09:42] partha006 opened #17 "this._$element.froalaEditor is not a function"
![image](https://cloud.githubusercontent.com/assets/24246410/21004817/4750c37e-bd58-11e6-9a0b-b28d401bfdef.png)

When I am trying to implement  the froala-wysiwyg in angular2 cli project . I am getting the console error.Kindly help me to resolve the issue to implement the editor.
Thanks.

[2016-12-08 19:38] dzimney commented on #4
You could use a hidden input field that's bound to the same property to accomplish this. Something similar to...

`<div id="froalaInput" name="froalaInput" [froalaEditor]="options" [(froalaModel)]="myModel.value"></div>`
`<input id="hiddenInput" name="hiddenInput"
           type="hidden" required
           [(ngModel)]="myModel.value" />`

[2016-12-14 08:34] hiepxanh commented on #17
add to module file

[2016-12-16 05:29] svillagracia commented on #13
I ran the commands and installed both but when I rand the `tsd install jquery --save` command it returned `>> zero results`
When I run `typings install dt~jquery --global --save` it seems to install, but I'm still getting the error.

[2016-12-27 08:40] maartentibau opened #19 "Can't select text or put cursor in inline-editor using IE Edge / IE11 and FF in Angular2 app"
##### Expected behavior.
Being able to select text and set the cursor where clicked in the editor box.

##### Actual behavior.
Can't select any text, besides using CTRL+A, can't put the cursor where I want to. It will always be place at the start of the text

##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)

##### OS.
Windows 8.1

##### Browser.
(Browser nam

[2016-12-27 22:10] manuelfink opened #20 "Make froala editor a real npm installable ngModule #featureRequest #improvement"
Wouldn't it make sense to make this a real npm installable ngModule for Angular 2 to simplify usage.

app.module.ts

[code]

And than be able to use directives as described.

Not yet sure if forRoot is required.

I also would appreciate if the froala editor is included into the module and js files must not be included into index.html. I have too ideas for this:

* integrate through import
* import

[2016-12-27 22:25] manuelfink opened #21 "Add angular, angular-cli and webpack support and docs. How to use with latest version?"
I do have problems getting the lib workable with the latest version of angular. Could you please bring it to a state there this is simple and add to the latest version of ng2 with angular-cli and add docs accordingly.

[2016-12-27 22:29] manuelfink opened #22 "froala editor ng2 jit and aot support"
I'd really appreciate if this repository would add support for both compile strategies

* just in time (jit)
* ahead of time (aot).

Later AOT is especially interesting since it reduces bundle size quiet a lot and is faster in execution. AOT requires a manifest.

[2016-12-28 13:44] manuelfink commented on #4
I think ngModel with support for required and other validators would be really handy to be standardized!

[2017-01-03 19:25] kthotav commented on #21
I loaded the lib folder, but I'm getting an error:
`Cannot find name 'JQueryStatic'.`
 @manuelfink  are you getting this error too?

[2017-01-10 10:52] artstalker commented on #17
Add what?

[2017-01-14 23:49] manuelfink commented on #21
I resolved them by installing jquery typings globally with `npm install --save types @types/jquery` than added to typings.d.ts `declare var jQuery: JQueryStatic;`

[2017-01-15 16:13] msaiyaff commented on #21
@manuelfink Got the editor working with the angular 2 app? The doc still seems to be the old version.

[2017-01-16 15:17] alfredalfie opened #23 "Working with angular universal"
Hi,
I try to use this directives with angular universal starter but it didn't work. Here is the repo:
[(https://github.com/angular/universal-starter)]

and my error is

Is it a bug or did I use it in wrong way?

[2017-01-17 17:13] manuelfink opened #24 "Special-tags img bug - froala_editor.min.js is throwing an error c.replace is not a function"
I just tried to use froala editor on an image with angular 2 as described in the [readme.md](https://github.com/froala/angular2-froala-wysiwyg#special-tags)

However I'm getting the error on console c.replace is not a function:

[code]

component.html
[code]

component.ts
[code]

using through npm "froala-editor": "^2.4.0", "angular2-froala-wyswiyg": "^2.3.4-rc.1" which both are latest.

[2017-01-22 17:02] josephserrano15 commented on #17
Same issue, I declared the directives in the module file.

[2017-01-26 10:16] maartentibau commented on #19
Still waiting on a response... would be nice to have some kind of idea where to look for a solution. We do have paid for a license would be nice to get some sort of support.

[2017-01-26 11:37] stefanneculai commented on #19
@maartentibau are you experiencing same problem on our website?

[2017-01-26 11:43] maartentibau commented on #19
@stefanneculai no, of course not. It really has something to do with the combination of dynamic created components, Google Chrome shadowDOM.

I launch the editor "on-the-fly" .. eg. when somebody clicks on an item on the screen and that's labeled as `editor` a service will trigger the editor and initialize it. (see code below)

The components that are being clicked on all have `ViewEncapsulation.N

[2017-01-26 11:49] stefanneculai commented on #19
@maartentibau I believe that somehow the editor is being rendered again, the HTML inside it is being updated somewhere by Angular and that's why you run into this problem.

[2017-01-26 11:54] maartentibau commented on #19
@stefanneculai the thing is, it's not that the editor won't load in the other browsers, its just that it loses all the functionality. Google Chrome doesn't have this problems, all others do.

So how could I prevent the double render?

[2017-01-26 11:56] stefanneculai commented on #19
Could you make a jsFiddle or something for it?

[2017-01-26 11:58] maartentibau commented on #19
@stefanneculai hmm.. I don't know if that will be possible, but I'll try. It's a really large app... I'll keep you posted!

[2017-01-26 12:09] stefanneculai commented on #10
This should be fixed in v2.4.1.

[2017-01-26 12:09] #10 closed

[2017-01-26 12:27] maartentibau commented on #19
@stefanneculai if you would be open for it, I could show it to you via a Teamviewer session, that would speed up this process for both.

[2017-01-26 16:41] wyers commented on #17
I also got this on my initial load of the plugin using angular-CLI.
It was because I did not include the actual froala editor in my scripts tag.
remember, this angular 2 piece is just a plugin/wrapper for a plain js tool.

run
npm install froala_editor --save
npm install jquery --save
npm install @types/jquery --save-dev
npm install font-awesome --save

then edit your angular-cli.json file to rese

[2017-01-26 19:29] maartentibau commented on #19
Found it... it has something to do with the fact that if the attribute `draggable="true"` is set on a wrapper element in the HTML, only in Google Chrome you're able to work with the editor. In IE / FF / and others this doesn't work.

Plunkr: [https://plnkr.co/edit/WK2roCkGwvMkit9TDB0a?p=preview](https://plnkr.co/edit/WK2roCkGwvMkit9TDB0a?p=preview)

[2017-01-31 15:20] manuelfink opened #26 "respository name changed - Release 2.4.1 not npm installable"
release 2.4.1 is not installable through npm in reason of the original package having an typo which was changed with the latest version. Consider releasing an version 2.3.4 with a deprecated warning?

angular2-froala-wyswiyg now is angular2-froala-wysiwyg

[code]

[2017-01-31 18:55] stefanneculai commented on #26
`angular2-froala-wyswiyg` was a typo and never got futher than RC. We deprecated it now.

[2017-01-31 18:55] #26 closed

[2017-02-07 17:55] #24 closed

[2017-02-07 17:56] stefanneculai commented on #21
Please find more details about angular-cli and webpack integration here:
https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli
https://github.com/froala/angular2-froala-wysiwyg#use-with-webpack

Also, please make sure you have version 2.4.2-1 for the `angular2-froala-wysiwyg`.

[2017-02-07 17:56] #21 closed

[2017-02-07 17:56] stefanneculai commented on #15
Please follow: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli.

[2017-02-07 17:56] #15 closed

[2017-02-07 17:56] stefanneculai commented on #20
Done: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli.

[2017-02-07 17:56] #20 closed

[2017-02-07 17:57] stefanneculai commented on #17
Most likely this was caused by the editor not being included. Please follow: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli.

[2017-02-07 17:57] #17 closed

[2017-02-07 17:58] stefanneculai commented on #11
Please define this just after you include the editor JS files here: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli.

[2017-02-07 17:58] #11 closed

[2017-02-07 17:59] stefanneculai commented on #16
Thanks for the `feature-request`. We use this repo for bug tracking only, but I added it on our internal feature list.

[2017-02-07 17:59] #16 closed

[2017-02-07 18:00] stefanneculai commented on #4
Please see: https://github.com/froala/angular2-froala-wysiwyg#model.

[2017-02-07 18:00] #4 closed

[2017-02-07 18:02] stefanneculai commented on #19
@maartentibau that is because `draggable="true"` adds the following CSS that disables selection:

<img width="823" alt="screen shot 2017-02-07 at 20 01 35" src="https://cloud.githubusercontent.com/assets/637004/22704410/4d53d9f8-ed70-11e6-8501-6ec3a753ec41.png">

It would be better to use only a handler for dragging and not the entire element where the editor is.

[2017-02-07 18:02] #19 closed

[2017-02-08 06:56] TekSiDoT commented on #15
Most of our projects are not built on or with angular-cli.

To be honest we have moved on to another editor, as the Angular2 lib and its support do not seem to be a priority for Froala right now.

[2017-02-08 14:59] stefanneculai commented on #22
@manuelfink @RobertWeaver @artstalker, @fahad-nxvt, @th3brink please follow: https://github.com/froala/angular2-froala-wysiwyg#use-with-systemjs-jit-and-aot.

Also, please make sure you are using V2.4.2-2.

[2017-02-08 14:59] #22 closed

[2017-02-08 15:47] stefanneculai commented on #23
@alfredalfie Please follow https://github.com/froala/angular2-froala-wysiwyg#use-with-webpack.

[2017-02-08 15:47] #23 closed

[2017-02-08 15:48] stefanneculai commented on #15
That is fine, @TekSiDoT. Could you please let us know what are you building with? We currently have integrations for `angular-cli`, `webpack`, `system.js`, `aot` and `jit`.

[2017-02-08 16:13] ndhanh opened #29 "Working with SystemJS"
I'm using SystemJS, when run the application I got error:

(SystemJS) Unexpected token <↵	SyntaxError: Unexpected token <↵	    at eval (<anonymous>)↵	    at Object.eval (http://localhost:3000/src/tmp/app/app.module.js:10:33)↵	    at eval (http://localhost:3000/src/tmp/app/app.module.js:44:4)↵	    at eval (http://localhost:3000/src/tmp/app/app.module.js:45:3)↵	    at eval (<anonymous>)↵	Evaluating

[2017-02-08 16:27] stefanneculai commented on #29
@ndhanh Have you followed https://github.com/froala/angular2-froala-wysiwyg#use-with-systemjs-jit-and-aot?

[2017-02-09 03:38] ndhanh commented on #29
Yes I had followed guideline for systemjs.
I resolved issue by adding extra configuration in system.conf.js

  var map = {
        'angular2-froala-wysiwyg': 'node_modules/angular2-froala-wysiwyg/bundles'
    };
    var packages = {
        'app': {
            defaultExtension: 'js'
        },
        'angular2-froala-wysiwyg': {
            main: 'angular2-froala-wysiwyg.umd.min.js',

[2017-02-09 03:38] #29 closed

[2017-02-09 06:35] TekSiDoT commented on #15
Back then, the project we tried Froala on was built using webpack / jit.

[2017-02-09 10:32] msaiyaff commented on #16
Thanks for that. @stefanneculai

[2017-02-09 10:55] thegnuu opened #30 "this._$element.froalaEditor is not a function in electron 1.4.15"
I am currently trying to implement angular2-froala-wysiwyg in our angular2 electron application.
Unfortunately we got the error `this._$element.froalaEditor is not a function` as soon as I try to initialise the editor.

Before I was able to implement everything in our ionic2 app without any problems.

In my opinion, everthing should be defined correctly. Here you can see the console output for fro

[2017-02-09 11:01] stefanneculai commented on #30
@thegnuu That is because you're not including the editor JS. Add that like in the Webpack config:
[code]

[2017-02-09 11:31] thegnuu commented on #30
@stefanneculai at the moment we're not using webpack, i tried to load froala directly in our index.html and with system.js, none of both worked.

[2017-02-09 11:44] stefanneculai commented on #30
Do you get the same error if you load it in index.html? Also, make sure you have jQuery defined globally.

-----Original Message-----
From: "Yannik Ache Eicher" <notifications@github.com>
Sent: ‎2/‎9/‎2017 1:31 PM
To: "froala/angular2-froala-wysiwyg" <angular2-froala-wysiwyg@noreply.github.com>
Cc: "Stefan Neculai" <stefan.neculai@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [fr

[2017-02-09 12:00] thegnuu commented on #30
Nope, it was not working in index.html. But after two hours of search I found the solution for the problem.

There was a general loading issue for some of our scripts.
Applying this fixed the error in my case...

[code]

I found the solution [here](http://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined?answertab=active#tab-top).

@stefanneculai Thank you anyway for your help!

[2017-02-09 12:00] #30 closed

[2017-02-09 14:26] frankspin89 opened #31 "[Help] How to listen to changes in Editor instance"
How to listen to changes in the Editor instance?

After every keyUp event I want to log the editor content to the console. What is the best way to do this? Using ```(ngModelChange)="onChange($event)``` is not working for me.

[code]

[code]

[2017-02-09 15:05] stefanneculai commented on #31
You can use events: https://github.com/froala/angular2-froala-wysiwyg#events-and-methods.

[2017-02-09 15:05] #31 closed

[2017-02-09 16:53] alfredalfie commented on #23
I follow the instruction but it still didn't work with universal starter repo.

[2017-02-09 16:56] stefanneculai commented on #23
@alfredalfie the problem is most likely coming from the angular dependencies being set at a different version in your universal-starter. Please see: http://stackoverflow.com/a/41444599/1806855.

[2017-02-10 03:21] alfredalfie commented on #23
Thanks for your response. Seems like I need to wait angular universal update to version 2.4.1

[2017-02-10 08:10] stefanneculai commented on #23
It's not necessary to do that, you can just update those in package.json and it should work.

[2017-02-10 08:30] alfredalfie commented on #23
It work in jit compilation but not in aot compilation when I update angular to version 2.3.1

[2017-02-13 06:54] lingwu1 opened #32 "froala-edictor toolbar cut half of printing words in editor text area."
![editor](https://cloud.githubusercontent.com/assets/25736018/22873562/c3622606-f1fb-11e6-91d0-0fdeb878d983.png)

in the mobile version of froala-editor, i found there are some issue while i am printing words in editor text-area with the toolbar. the toolbar cut half of words while i am printing, if my explanation is unclear, i have attached the issue image

[2017-02-14 07:33] frankspin89 opened #33 "Editor is losing focus after froalaModel update"
The editor is losing his focus after each update of the froalaModel. The insert pipe/cursor is disappearing and you have to click inside the editor to continue editing.

Version: angular2-froala-wysiwyg - 2.4.2-2

I'm using the contentChanged event to update the froalaModel.

[2017-02-14 14:33] zoltanbalog opened #34 "Custom Image Button JQueryStatic error"
I want to create a custom image button, but I use this:

`$.FroalaEditor.DefineIcon('imageInfo', {NAME: 'info'});`

 get an error:

`Property 'FroalaEditor' does not exist on type 'JQueryStatic'.`

Thanks for your help.

[2017-02-15 13:40] zoltanbalog commented on #34
I was added FroalaEditor to JQueryStatic interface and that is solve this problem.

[2017-02-15 13:40] #34 closed

[2017-02-16 13:23] frankspin89 commented on #33
Found this [answer](https://github.com/froala/wysiwyg-editor/issues/452#issuecomment-247993162) seems related to my issue. Trying to implement this answer in to Angular 2.

What i have so far:

[code]

I think I'm close, but it's not working yet. Console output.

https://s23.postimg.org/twqt6penv/Screen_Shot_2017_02_16_at_14_21_29.png

[2017-02-16 13:42] natcohen opened #35 "Support for reactive forms"
The documentation mentions only the use of model based form (`[(froalaModel)]="editorContent"`), what about `formControlName`?

[2017-02-19 13:50] stefanneculai commented on #33
@frankspin89 if you are updating the model externally, it is not possible to keep the cursor focus because you are inserting a new HTML in the editable area. You should be able to set cursor at the end the way you said, you are only missing calling the `selection.restore` method correctly. It is a method.

[2017-02-19 13:50] #33 closed

[2017-02-19 13:51] stefanneculai commented on #32
What mobile device and browser are you using? Thank you.

[2017-02-20 11:39] bardiarastin commented on #35
+1
how to use it with form builder ? like below which does not work :
        `<textarea formControlName="content" id="content" [froalaEditor]='options'></textarea> `

[2017-02-20 15:08] bardiarastin commented on #35
i've found a solution :
`
  options: Object = {
    charCounterCount: false,
    placeholderText: 'Edit Your Content Here!',
     events : {
      'froalaEditor.contentChanged' : (e, editor) => {
        this.myForm.patchValue({content: editor.html.get()})
      }
    }
  }
`
remember that using arrow functions is necessary

[2017-02-20 20:56] natcohen commented on #35
@bardiarastin It's not a viable solution in the long term! Reactive form should be supported by default. It shouldn't be a big deal to add it to the module.

Anyway thx for the temporary workaround.

[2017-02-20 21:03] bardiarastin commented on #35
@natcohen yes i agree this is fine as a temporary solution, we should wait for maintainers response

[2017-02-21 08:08] stefanneculai commented on #35
We'll put an update for this shortly.

[2017-02-26 01:51] squarewave24 commented on #13
i installed everything successfully. tried a few ways to install it which it did successfully but still can't get rid of the error in the compiler.

maybe it needs to be referenced somewhere in the app?

    declare var $:JQueryStatic;

[2017-03-01 14:45] natcohen commented on #35
@stefanneculai What is the status on this issue? Will it take long to fix it?

Thanks

[2017-03-03 05:16] frankspin89 opened #36 "Cannot find name 'JQueryStatic'"
Upgraded to the latest version of froala editor (2.5.0). Giving me the following error i.c.m. the Angular-cli

```node_modules/angular2-froala-wysiwyg/editor/editor.directive.ts (3,16): Cannot find name 'JQueryStatic'.)```

[2017-03-05 21:30] stefanneculai commented on #36
@frankspin89 have you followed the exact steps from: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli ?

[2017-03-05 21:30] stefanneculai commented on #35
@natcohen we hope to have a resolution by the end of this week.

[2017-03-06 08:52] osahner commented on #36
same here.

[code]

[2017-03-06 21:48] stefanneculai commented on #36
@frankspin89 @osahner have you added this into angular-cli.json?

[code]

[2017-03-07 07:06] osahner commented on #36
yes. It did work for some time and out of nothing the error occurred.

[2017-03-07 07:59] osahner commented on #36
seems to work again with the latest tslint@4.5.1.
angular-cli rc1 still has ~4.4.2

[2017-03-08 09:41] osahner commented on #36
error here again ... don't know why.
I fixed it (for me) the hard way by editing editor/editor.directive.ts

[code]

[2017-03-09 07:31] llhm opened #37 "editor return"
how to get the all return value of editor,the  function that"editor.selection.get()"only get the value of  one selected row of editor

[2017-03-13 02:34] webtechy opened #38 "Databinding stops working"
I have the following:

<textarea [froalaEditor] id="details" class="k-textbox gt-textbox" [readonly]="(pageMode=='Display')" [(ngModel)]="Requirement.Details"></textarea>

However, if I save the item, the data is not saved to that fields (non-Froala fields work fine).

[2017-03-13 03:48] webtechy commented on #38
Correction, it should have been:

 <textarea [froalaEditor] id="details" class="k-textbox gt-textbox" [readonly]="(pageMode=='Display')" [(froalaModel)]="RegulatoryProvision.ParagraphText"></textarea>

[2017-03-14 18:25] Apee opened #39 "Draggable "fr-dragging" when initializing."
We were experiencing really weird behavior when initilizing dynamic html in the editor. Some DOM elements still had the **.fr-dragging** class for some reason so the drop behavior was really weird and wasn't responding properly.

Needed to remove all **.fr-dragging** classes in the html when initializing any html in the editor resolved the problem. Maybe it should be done in the froalaEditor.initi

[2017-03-14 18:42] stefanneculai commented on #37
You can use the `html.get` method.

[2017-03-14 18:42] #37 closed

[2017-03-14 18:43] stefanneculai commented on #36
@osahner is it all good now?

[2017-03-14 18:44] stefanneculai commented on #39
@Apee could you please make a jsFiddle or something similar. Also this is related to github.com/froala/wysiwyg-editor repo so please open an issue there instead.

[2017-03-14 18:44] #39 closed

[2017-03-14 18:45] stefanneculai commented on #38
@webtechy would it be possible to make a CodePen or something similar for this?

[2017-03-16 01:20] webtechy commented on #38
Hi @stefanneculai - this was my bad, I needed to put [(froalaModel)] instead of [(ngModel)]. Thank you for your assistance.

[2017-03-16 07:54] llhm commented on #37
thanks,i had solved it,the method "html.get()" make text of editor showing in a row,i think the result is not good,then give up the editor,i  used the textare tag to finish my task.

[2017-03-16 13:26] osahner commented on #36
perfect!

[2017-03-16 13:44] natcohen commented on #35
@stefanneculai still nothing?

[2017-03-17 11:06] webtechy opened #40 "Uncaught TypeError: Cannot read property 'pageX' of undefined"
I am seeing the following error when running the froala editor within a SharePoint (SPFx) context:

**> i @ froala_editor.pkgd.min.js:17**

[2017-03-17 11:10] stefanneculai commented on #40
@webtechy could you send us a link to the page where you have this problem? You could use our website contact form for privacy.

[2017-03-17 11:10] stefanneculai commented on #38
👍

[2017-03-17 11:10] #38 closed

[2017-03-17 11:10] stefanneculai commented on #36
👍

[2017-03-17 11:10] #36 closed

[2017-03-17 11:11] stefanneculai commented on #35
Not yet. Sorry for the delay.

[2017-03-17 11:11] stefanneculai commented on #32
I am closing this due to lack of response.

[2017-03-17 11:11] #32 closed

[2017-03-17 11:41] webtechy commented on #40
Possibly related:

[](http://stackoverflow.com/questions/8583249/jquery-1-7-clientx-pagex-undefined)

[](http://blah.winsmarts.com/2013-5-SharePoint_2013_-_JavaScript_-and-amp;_jQuery_big_booboo_to_watch_out_for.aspx)

[2017-03-17 11:59] webtechy opened #41 "Styling in SharePoint context"
The buttons in the Froala editor are too wide when loaded into a SharePoint context (as all buttons have a min-width of 6em set by SP styles). Therefore, would suggest adding the following:

[code]

[2017-03-19 17:49] stefanneculai commented on #40
@webtechy what browser and OS are you using?

[2017-03-20 16:32] mattmcardle opened #42 "Protractor E2E tests timing out"
I keep getting the following error when trying to test a page containing the Froala wysiwyg editor:

`Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL`.

I have increased the default timeout to 35000 but this has made no difference. If I remove the editor reference from my HTML my tests will work as normal (after I remove parts of tests t

[2017-03-21 03:32] JoshuaNovak919 commented on #17
I followed all the directions for Angular CLI and I am still getting the `this._$element.froalaEditor is not a function` error.

Here are my dependencies:
[code]

[2017-03-21 12:39] delasalle-sio-olivon opened #43 "$ is not a function"
Hi,

I'm trying to use your wysiwyg, I used your tutorial for angular-cli but I'getting this error :
`$ is not defined`

When I type in the browser's console $('xx') it works while I have :
`declare var $:any;`
else $ is undefined

angular-cli.json :
[code]

In template :
`<div [froalaEditor]>Hello, Froala!</div>`

And in the bootstreap module I made the import with forRoot()

I used @angular/cli

[2017-03-21 14:12] #43 closed

[2017-03-27 10:46] larxenne opened #44 "Use on Ionic 2"
Hi, I'm trying to use this package in Ionic 2

Do you have any idea or tips about how to do it ?

Thanks in advance

[2017-03-27 12:45] stefanneculai commented on #44
Please see: https://github.com/froala/angular2-froala-wysiwyg#usage.

[2017-03-27 12:45] #44 closed

[2017-03-27 12:47] stefanneculai commented on #42
Could you make a CodePen or something else for it?

[2017-03-27 12:49] stefanneculai commented on #40
Please make sure you are using jQuery at least 1.11.0.

[2017-03-27 12:49] #40 closed

[2017-03-27 16:29] thegnuu opened #45 "Missing 'bundles' on npm"
Are there any reasons why the bundles-folder is missing from npm since 2.5.0?

If so, how do we have to use v2.5.0 and up with systemjs?

[2017-03-27 17:39] stefanneculai commented on #45
There was a mistake in 2.5.0, please use 2.5.1-1.

[2017-03-27 17:43] thegnuu commented on #45
Worked perfectly, thank you and sorry for not noticing that there is a newer version available!

[2017-03-27 17:43] #45 closed

[2017-03-28 15:07] natcohen commented on #35
@stefanneculai I'm a little bit disappointed by the delay...

[2017-03-28 15:14] natcohen opened #46 "Update the doc for SystemJS and the new structure"
The doc doesn't mention how to configure SystemJS with the new structure... We used to have a bundle folder with an `umd` file. It's not clear which file has to be included in the `System.config`

[2017-03-28 15:26] stefanneculai commented on #46
Please use version `2.5.1-1` and follow: https://github.com/froala/angular2-froala-wysiwyg#use-with-systemjs-jit-and-aot.

[2017-03-28 15:26] #46 closed

[2017-03-28 19:37] alfredalfie opened #47 "How to use it with angular 4"
I want to use this binding with [this repo](https://github.com/FrozenPandaz/ng-universal-demo), but it does not work.
Could you please help me

[2017-03-28 19:55] stefanneculai commented on #47
It looks you are using webpack, so please follow the steps for webpack integration: https://github.com/froala/angular2-froala-wysiwyg#use-with-webpack.

[2017-03-28 19:55] #47 closed

[2017-03-28 19:56] stefanneculai commented on #41
It looks this is a specific thing for the SharePoint context. Thanks for letting us know about it.

[2017-03-28 19:56] #41 closed

[2017-03-29 05:48] alfredalfie commented on #47
Actually I tried the webpack guideline.

and the error occurs:

[2017-03-29 23:59] webtechy commented on #40
Please re-open as not resolved.

The browser is Chrome v56.

/*! jQuery v3.1.1 | (c) jQuery Foundation | jquery.org/license */

[2017-03-30 12:24] #35 closed

[2017-03-30 12:32] florinpopescu commented on #35
@natcohen Reactive forms support is ready. Can you please check it?

Use it like this:
`<textarea [froalaEditor] formControlName="formModel" [(froalaModel)]="form.formModel"></textarea>`

You can see it in action on example no. 9 from demo. To run demo: `npm run start`

Thanks!

[2017-03-30 13:52] natcohen commented on #35
I've tried without success... first of all, which version should I use? 2.5.1-1?

Then why do I have to use `[(froalaModel)]="form.formModel"`? First, my form has controls so what am I supposed to pass there? Second, it is redundant as I'm already passing the `formModel` in `formControlName`...
In your directive, you can simply listen for froala changes and update the value like this

        this

[2017-03-30 15:11] florinpopescu commented on #35
@natcohen Sorry, I forgot to tell you that the fix is currently on github current master. The release will be available in a couple of hours.

You can use it without passing `[(froalaModel)]="form.formModel"` too. I've updated the readme and the examples.

I will announce you when the release is ready.

Thanks!

[2017-03-30 15:30] natcohen commented on #35
@florinpopescu Great! I'll wait until you officially release it...

[2017-03-30 16:22] stefanneculai commented on #40
Could you make a jsFiddle or codePen? We cannot reproduce it.

[2017-03-30 16:23] stefanneculai commented on #35
@natcohen it is published now.

[2017-03-30 17:07] webtechy commented on #40
I have run:

[code]

In the gulp file.js we have (SPFx/Yeoman project):

[code]

In the component constructor we have:

[code]

In the config.json externals, we have:

[code]

I am putting together a simple froala editor SPFx web part and make it available to you. Although the issue is when it's deployed to SharePoint so you would need a first release SharePoint tenant to test it on.

[2017-03-30 19:43] florinpopescu commented on #35
@natcohen has it worked for your case?

[2017-03-31 08:18] natcohen commented on #35
Working great! Good job...

[2017-03-31 11:52] webtechy opened #48 "Licensing with a TypeScript/Angular2/Webpack Project"
Could you please provide instructions on how to license for this type of project (we have purchased a version).

[2017-03-31 14:00] stefanneculai commented on #48
@webtechy Inside your account, you will find the activation instructions. If you have troubles please reach us via support from our website.

[2017-03-31 14:00] #48 closed

[2017-04-02 10:53] natcohen opened #49 "Systematic options (in directive?)"
I'd like to systematically apply a config to my froala editor. Imagine that you have a lot of inputs with forala editor and you don't want to apply the same configuration to each input separately.

In angular, you can create a directive and simply apply the configuration there. However, when I create a directive called `froalaConfig` as follow:

    textarea(froalaEditor='', froalaConfig='', [form

[2017-04-04 07:31] chrillewoodz opened #50 "Remove jQuery as dependency"
jQuery is bad enough as a standalone library and it's hugely frowned upon to use along with angular, you should really consider dropping it and go with vanilla JS. This would lead to a higher usage of the editor because people like me won't be put off by the jQuery dependency.

[2017-04-04 07:32] stefanneculai commented on #50
@chrillewoodz Thanks for the suggestion. Is on plan, however I cannot share an ETA at this moment.

[2017-04-04 07:32] #50 closed

[2017-04-04 07:33] chrillewoodz commented on #50
Ok, good.

[2017-04-04 08:30] chrillewoodz opened #51 "[question/not-sure-if-bug-or-not] Tooltips aren't being set"
I use these options after I've included `"../node_modules/froala-editor/js/languages/sv.js"` file in `angular-cli.json`'s `scripts` array:

[code]

And then I pass it to the editor:

    <div [froalaEditor]="options" [(froalaModel)]="model"></div>

However The language is still english as no tooltips are showing when I hover the buttons.

Am I missing something or is there a bug here?

[2017-04-04 08:35] chrillewoodz commented on #51
Apparently it was `sv` not `se`, however the tooltips problem still remains.

[2017-04-04 09:22] osahner commented on #51
You must include the corresponding language file.
e.g. in .angular-cli.json

[code]

[2017-04-04 11:34] florinpopescu commented on #49
`.froalaEditor is not a function` error is because you need to wrap the element in JQuery: `(<any>$(this.element.nativeElement)).froalaEditor({})`

`froalaEditor` directive will instantiate the editor. If you want to instantiate by yourself you need to pass `froalaInit` directive: `(froalaInit)="yourInitializeFunction($event)"`.

[2017-04-04 11:34] #49 closed

[2017-04-04 13:24] natcohen commented on #49
@florinpopescu I don't have the error anymore but the config doesn't apply... I've tried `charCounterCount: false` and the counter is still there! My directive is active as I have a `console.log` inside!

Am I doing something wrong?

[2017-04-04 16:57] florinpopescu commented on #49
I think you can't do it more easy than applying the same configuration to each input separately.

Here is some explanations:
If you dont pass `(froalaInit)="yourInitializeFunction($event)"`, the editor will be already instantiated in the froalaEditor directive. But even with `froalaInit` you will still need to pass the config.
The only way would be to change the lib and add a config argument to `c

[2017-04-04 21:26] natcohen commented on #49
@florinpopescu I'm currently using CKEditor and thought froala would be better (I prefer the simplicity of use of the editor)... CKEditor is a free software but seems to offer more flexibility!

I'm very disappointed by froala's implementation. Angular is one of the most popular front-end library (with react) and I really expected froala to support it (yes, directives are essential to angular and

[2017-04-04 22:04] stefanneculai commented on #49
@natcohen it looks there is a bit of missunderstainging going on here. I appologize if you understood wonrgly our point of view regarding this matter. We are really willingly to help in shaping up the problem you're facing but I belive we don't have all the details about what you're trying to achieve.

Would it be possible for you to send part of the code you're using for that? It looks like in yo

[2017-04-04 22:07] stefanneculai commented on #51
@chrillewoodz if tooltips are not showing there might be a conflict with the CSS from the page. Could you send us a link to a page where this is reproducing?

[2017-04-04 22:15] natcohen commented on #49
@stefanneculai sorry I wasn't clear enough... what I would like to do is very simple!

I would like to call a custom directive in my textarea. This directive will initialize the editor with a custom config... how can I do that?

I'm willing to share code, create a plunker (if you provide a simple example) or whatever you think will be helpful!

[2017-04-04 22:16] stefanneculai commented on #49
It would be just amazing if you could create a plunker so that we all have a starting point for this. Thanks!

[2017-04-04 22:19] natcohen commented on #49
@stefanneculai Will try that tomorrow...

[2017-04-04 22:20] stefanneculai commented on #49
👍 , looking forward for it.

[2017-04-04 23:03] natcohen commented on #49
@stefanneculai Got a plunker here: https://plnkr.co/edit/vhb0c9B2lqnznGkyCjOc?p=preview

You can see int the froalaConfig directive file... like @florinpopescu said, froala is already initialized when I try to configure it.

If you can change the plunker so I can get the directive to configure the textarea, it would be awesome!

[2017-04-05 06:45] stefanneculai commented on #49
@natcohen Please find 2 examples on Plunker:
- without component: https://plnkr.co/edit/3U7hLEoylR9UzZ7PwCBe?p=preview
- with component: https://plnkr.co/edit/3U7hLEoylR9UzZ7PwCBe?p=preview

The options shall be passed like here: https://github.com/froala/angular2-froala-wysiwyg#options.

[2017-04-05 08:02] natcohen commented on #49
@stefanneculai please see my initial question! I'd like to use a custom directive so I can systematically change the configuration... Imagine in your app, you have 1000 of these editors in different places. When you want to change your config, you have to change 1000 of them (not acceptable in my case) with a custom directive you'll have to change it only once (that's the goal of directives...)

N

[2017-04-05 08:15] stefanneculai commented on #49
You can use a component and have the custom config inside it as I already explained in the other comment: https://plnkr.co/edit/lHz4YqyYlu6NvtbDTy8P?p=preview.

At this moment it is not possible to add a directive as you want with the config because the Angular2 plugin we made was not designed to allow that. However, you could use a component just the same way.

[2017-04-05 08:28] natcohen commented on #49
@stefanneculai Thanks, it is a temporary solution and we will evaluate the feasibility in our project...

[2017-04-05 08:30] stefanneculai commented on #49
You're welcome, @natcohen. Creating a component and reusing it is mainly a recommendation in Angular2.

[2017-04-05 08:36] natcohen commented on #49
@stefanneculai We need to support reactive forms and we are not exactly sure how to do it with your solution... Any idea?

[2017-04-05 09:34] natcohen commented on #49
@stefanneculai Tried the following: https://plnkr.co/edit/1UlT6Isfx6PxF66Dnisp?p=preview but it seems to be impossible to do it... (check the console to see the error)

[2017-04-05 10:30] natcohen commented on #49
@stefanneculai Could you please share a solution?

[2017-04-05 10:50] Flexiink opened #52 "Error while image loading"
I have use your code,

took example how it should be use here
https://www.froala.com/wysiwyg-editor/docs/sdks/nodejs/image-server-upload#complete-example

But when i'm trying to use the editro and load the image there i receive next error

    at new Multipart (/var/www/html/flexi/flexi-universal/node_modules/busboy/lib/types/multipart.js:106:5)
    at Multipart (/var/www/html/flexi/flexi-universa

[2017-04-05 14:36] Flexiink commented on #52
<pre>import 'angular2-universal-polyfills';</pre>
Creates this error. What solutions?

[2017-04-05 18:22] stefanneculai commented on #52
@Flexiink at a first glance this appears to be somehow a conflict from the busboy and we should investigate it a bit more. Would you mind opening this as an issue on the NodeJS SDK repo: https://github.com/froala/wysiwyg-editor-node-sdk. Thanks!

[2017-04-05 18:22] #52 closed

[2017-04-05 18:24] stefanneculai commented on #49
Sure it is possible. It is an easy thing, all you should do is to use `ControlValueAccesor`: https://plnkr.co/edit/btWccdfPlU7BH4E3cTMu?p=preview

[2017-04-06 13:10] chris-gpc commented on #35
Should this support FormGroup.reset()?

[2017-04-10 02:40] puahyan opened #54 "installation problem"
solved

[2017-04-10 05:17] #54 closed

[2017-04-11 08:52] Flexiink commented on #52
You need to update the package.json and the problem will disappear.
<pre>
"dependencies": {
     "zone.js": "0.7.4"
}
</pre>

[2017-04-11 10:25] tungphamsolver opened #55 "Problem when using my API to Upload Image in Froala Editor"
I'm use project Angular 2 and project Express JS. But I when I change options like this:
public options: Object = {
 imageUploadURL: 'http://localhost:5000/post/image'
}
and my server side I have function from call POST/IMAGE:
saveImage: function (req, res) {
        console.log('=======>>>>>')
        FroalaEditor.Image.upload(req, '/uploads/', function (err, data) {
            // Return data.

[2017-04-11 11:08] #55 closed

[2017-04-12 09:19] #51 closed

[2017-04-18 15:35] nbppp2 commented on #24
@manuelfink were you ever able to obtain resolution on this, or [#1699](https://github.com/froala/wysiwyg-editor/issues/1699)

[2017-04-20 21:44] Derekjohnson277 opened #57 "Where do I configure custom buttons (Angular4 using angular-cli)?"
Where do I configure custom buttons and dropdowns? I have tried define them in the component but they need to be created before load. I noticed in another issue you said that they need to be loaded before the froala files, but how would I use my components' functions if that is the case?

[2017-04-22 02:52] sarora2073 opened #58 "images get rotated automatically"
Hi,

Just tried adding images (drag and drop or quick insert) with the latest version of ng2 froala and particular images get auto-rotated 90 degrees. I confirmed that the affected images appear correctly angled in windows 10 icon preview, and other apps like paint, gimp, windows photo viewer, so I think it's safe to call this a bug with froala.

Note: my photo library has images that *may* have b

[2017-04-23 06:39] BlankHrt commented on #57
same question.

[2017-04-23 06:52] BlankHrt commented on #57
i think i solved it.
in your component, declare jQuery,and in your option,add alert to toolbarButtons like this.
ngOnInit(){
$.FroalaEditor.DefineIcon('alert', {NAME: 'info'});
    $.FroalaEditor.RegisterCommand('alert', {
      title: 'Hello',
      focus: false,
      undo: false,
      refreshAfterCallback: false,
      callback: function () {
        alert('Hello!');
      }
    });
  this.opt

[2017-04-24 14:18] Derekjohnson277 commented on #57
Thanks @BlankHrt, but something that I found was that for it to work in chrome you need to specify each size for the toolbar buttons like so:

`toolbarButtons: ['bold', 'italic' , '|', 'alert'],`
`toolbarButtonsXS: ['bold', 'italic' , '|', 'alert'],`
`toolbarButtonsSM: ['bold', 'italic' , '|', 'alert'],`
`toolbarButtonsMD: ['bold', 'italic' , '|', 'alert']`

[2017-04-24 14:23] stefanneculai commented on #57
@Derekjohnson277 it depends on the screen size you have there. See: https://www.froala.com/wysiwyg-editor/examples/toolbar-buttons.

[2017-04-24 14:23] #57 closed

[2017-04-24 14:25] Derekjohnson277 commented on #57
@stefanneculai Well I tested it on a mac at fullscreen and it didn't work until I included all screen sizes in my editor config.

[2017-04-25 02:52] nakunglafa opened #59 "problem in image upload"
unusual delay while uploading image

[2017-04-27 14:02] zmanring opened #60 "Question: How do you add custom buttons?"
The examples on the website are via jQuery, how do you add custom buttons using Angular 2?

[2017-04-27 14:08] stefanneculai commented on #60
https://github.com/froala/angular2-froala-wysiwyg/issues/57#issuecomment-296423689 should help. We're going to add an example for that shortly.

[2017-04-27 14:08] stefanneculai commented on #59
Doesn't seem to be related to the Angular plugin. Please contact us via our website for support on that.

[2017-04-27 14:08] #59 closed

[2017-04-27 14:09] stefanneculai commented on #58
These problems are usually related to how the server stores the meta data for the image. In version 2.5.2 we're going to include Aviary as a plugin when image processing is possible.

[2017-04-27 14:09] #58 closed

[2017-04-27 14:18] zmanring commented on #60
Great, thank you, so for now, its handled in jQuery? Not a big deal just didnt know if you had it ported over :D. Also, what's the best way to target different "editors". We will have multiple toolbars for different purposes.

[2017-04-27 14:19] stefanneculai commented on #60
Yes, it is handled in jQuery for now. To use the button only in some toolbars, you can use the toolbarButtons option when initializing the editor.

[2017-04-27 14:19] #60 closed

[2017-04-27 14:28] zmanring opened #61 "Question: Custom color picker / input"
Thanks for your help! Our team loves the Froala editor but we need to add our own color picker with input so the user can specify the hex code. Other that popping a new modal up, do you guys have a way to call into a new toolbar with custom HTML inside of it? Just like how you're doing the color picker now?

Thanks again.

[2017-04-27 14:30] stefanneculai commented on #61
@zmanring please contact us via our website for tech help and our support team will answer there shortly. We use this repo mainly for bug tracking. Thanks!

[2017-04-27 14:30] #61 closed

[2017-04-29 16:11] George35mk opened #62 "[Delighted] Survey not shown because person is not eligible until Mon May 29 2017 18:43:37 GMT+0300 (Θερινή ώρα GTB)."
What is that message i take all the steps for angular 2 setup ??

[2017-05-02 08:12] stefanneculai commented on #62
@George35mk I believe you are setting up the editor incorrectly. We have on our website Delighted used to survey the visitors, but that is not embedded into the product.

You can find the steps to integrate the Froala Editor here: https://github.com/froala/angular2-froala-wysiwyg#integration.

[2017-05-02 08:12] #62 closed

[2017-05-02 15:18] sarora2073 commented on #58
Hi,

Just wanted to provide feedback that may be useful for both product design and others impacted. At first I was thinking froala was not going to work for me because of this issue, HOWEVER, after some further investigation I found:

a) The same image rotation issue exists on other apps when using the "affected" images.

b) One way to "fix" the autorotation issue is by opening them in windows ph

[2017-05-05 17:42] caJaeger opened #64 "Smaller Footprint"
Is there a way to load this with a smaller footprint? 500+kb is huge, not to mention the requirement for jQuery...

[2017-05-05 18:51] #64 closed

[2017-05-10 14:29] pvanhemmen opened #66 "Dynamically set config options"
Hey there,

I need to change the editor language on the fly, but I don't seem to get it working. I am able to pass the config options statically, but how would I go about changing them after initialization? I tried all kind of stuff including manually initializing the editor:

[code]
This throws the following error: `TypeError: g[h].apply is not a function`. Setting the language without prior init

[2017-05-15 07:46] goliknes opened #67 "Change detection seems to be triggered on mousemove"
I have installed angular2-froala-wysiwyg 2.6.0 following the [Angular CLI guide](https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli).

For reproducing this case I created a simple "&lt;pre&gt;{{getDate()}}&lt;/pre&gt;" in the same component where getDate() returns a new date object. When the mouse pointer moves, the date is also updated on the page. This is a big problem for us

[2017-05-16 11:36] stefanneculai commented on #67
@goliknes could you please make a plunker?

[2017-05-16 11:36] stefanneculai commented on #66
It is not possible to change the options after the editor was initialized. The best way to change the options after initialization is to destroy the editor instance and initialize it again.

[2017-05-16 11:36] #66 closed

[2017-05-16 13:01] goliknes commented on #67
I'm not able to easily create a plunker of the Angular CLI project. I have a test case in [github](https://github.com/goliknes/FroalaTest). This [code](https://github.com/goliknes/FroalaTest/blob/master/src/app/app.component.html) makes for example validate function run many times when I move the mouse cursor. Also the date [here](https://github.com/goliknes/FroalaTest/blob/master/src/app/app.comp

[2017-05-23 00:10] LukePettway opened #68 "Error when building for production"
I'm not sure if I'm doing something wrong. I have everything working using Webpack locally but when I run a build for my staging server, I see this error in the console:

Cannot read property 'createElement' of undefined

Any ideas what I could be doing wrong?

[2017-05-25 06:05] cc07 opened #69 "How can i use routerlink in the editor content?"
Neither innerHtml nor froalaView could render internal links. What can i do?

[2017-05-30 07:01] phil123456 opened #70 "menu display messed up/ does not show editor"
Hi,

I tried to integrate your wysiwig editor but the integration process is tremendously complicated ...

I dont understand why is the webpack config copying the css files for prod only
what about testing on my local machine?

also, I do not have any head-config in my angular/webpack seed, I cant reproduce the following steps

    open config/head-config.common.js and add a new entry to link

[2017-05-30 07:37] phil123456 commented on #70
ok nevermind on prod it displays an unlicensed crap message

[2017-05-30 09:28] damen-dd commented on #17
Same here. I did exactly what is wirtten in "Angular cli" integration and got the same error.

[2017-05-30 09:30] stefanneculai commented on #17
It looks like jQuery is not included correctly. Have you followed everything from: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli?

[2017-05-30 11:52] damen-dd commented on #17
Yes, I followed every step, and jquery is included

[2017-05-30 17:43] #70 closed

[2017-05-30 17:43] stefanneculai commented on #69
Could you make a Plunker for this?

[2017-05-30 17:44] stefanneculai commented on #68
Are you using the latest version of the Angular2 Plugin?

[2017-05-31 03:15] LukePettway commented on #68
@stefanneculai yes, everything should be current. The only thing I could derive from testing is when the code is uglified the problem starts to occur. When I disable that in webpack, I get a message below the editor saying I am using an unlicensed version. I'm guessing that is the source of my troubles.

[2017-05-31 09:35] snailbob commented on #17
have same issue, but able to fixed by stopping server and starting again by `ng serve` after following integration for Use with angular-cli: https://github.com/froala/angular2-froala-wysiwyg#use-with-angular-cli

[2017-05-31 14:28] cc07 commented on #69
I have no idea how to use Plunker, see if it works. The thing i actually wanted is to embed a [routerLink] in the html content which written using the Froala Editor.

http://embed.plnkr.co/3Gv1CIWHff7KwmrcVnBH/

[2017-06-01 07:54] yunClouds opened #71 "For angular4"
Hello，Does this support angular4?

[2017-06-01 07:58] ellandebasque commented on #71
https://www.npmjs.com/package/ng2-froala-editor

[2017-06-01 22:14] stefanneculai commented on #71
Yes, it should work with angular 4 as well.

[2017-06-01 22:14] #71 closed

[2017-06-06 08:41] stefanneculai commented on #69
The content that you pass to the editor should be HTML. The editor doesn't know to render Angular code. The best thing would be to render the content you want to display into another HTML element and then read it from there and pass to the editor.

[2017-06-06 08:41] #69 closed

[2017-06-07 00:21] omar1989omb opened #72 "Error changing language"
When I modify the language using [froalaEditor] = 'options' does not work.

This is the code: (**language: 'es'**)

[code]
Neither works when I change the value 'null' in '../node_modules/froala-editor/js/froala_editor.pkgd.min.js'

[2017-06-07 16:20] stefanneculai commented on #72
@omar1989omb you should also include the language file from `'../node_modules/froala-editor/js/languages/es.js'`

[2017-06-07 16:20] #72 closed

[2017-06-09 14:55] #68 closed

[2017-06-12 06:51] surajkhanal opened #74 "How to trigger image.uploaded event in angular2?"
I don't find any method to trigger the image.uploaded or any other event in angular2. As per documentation there is a markup for plain js . How can i get the editor instance in angular?

[2017-06-14 21:01] konradcwalina opened #75 "Cannot make the editor disabled/readonly"
I've tried setting up contenteditable="false" in the div with [froalaeditor] as well as setting up contenteditable flag threw the option object and I can still enter text in froala editor.

    `    <div [froalaEditor]="options" [(ngModel)]="translation.description" class="non-editable" contenteditable="false"></div>`

[code]

[2017-06-15 09:53] RicardoVaranda commented on #71
@stefanneculai, while it does work for Angular 4 it causes warnings in NPM install:

![image](https://user-images.githubusercontent.com/6951312/27175990-898dd148-51f3-11e7-86d7-a3b11e040047.png)

would it be possible to update this? Thanks :D

[2017-06-16 13:06] yunClouds opened #76 "Problem with Insert video by URL"
It does not work  Insert video by URL？ How to do ?  Even on the official website as Example , I had test it ,but problem still there.
![image](https://user-images.githubusercontent.com/26613310/27227740-480a0fae-52d7-11e7-9700-1a3ade7fd187.png)

BTW: my app is base on angular 4 ,and my package.json and angular-cli.json  is
![image](https://user-images.githubusercontent.com/26613310/27227783-7d9b26

[2017-06-19 00:28] Robinyo opened #77 "Feedback re README.md file for Ionic v3"
Feedback re the README.md file for Ionic v3:

Use "//" for comments not "#"

[code]

Copy the "cs" files to the  '{{BUILD}}' directory.
Copy the Fonts Awesome Fonts to the '{{WWW}}/assets/fonts' directory.

[code]

Reference the style sheets in the `<head>` section of your project's "index.html" file:

[code]

In your "editor" (editor.html) add the Froala Editor:

[code]

[2017-06-19 08:49] stefanneculai commented on #76
Duplicate of https://github.com/froala/wysiwyg-editor/issues/2037

[2017-06-19 08:49] #76 closed

[2017-06-20 15:49] juankmarin opened #78 "Zone.js error"
I'm trying to load HTML code from a JSON response, and I'm getting the following error:
"Expression has changed after it was checked. Previous value: ...."

I detected that the editor hopes a string embed between <p> tag. So, is possible disable this?

[2017-06-21 14:06] valimvf opened #79 "Error: Method undo.reset does not exist in Froala Editor"
When setting initOnClick on true, undo.reset error pop up. I've seen that the same issue existend on angularJS version and the work around was to init the editor manually, but I'd like to avoid that. Is marked as solved on angularJS version, could it be solved the same way here?

[code]
https://github.com/froala/angular-froala/issues/92

[2017-06-23 06:19] wuhemei opened #80 "how to chang image url in text when uploaded image"
how to change url in my server when uploaded image
<p><img src="https://i.froala.com/download/db16e3f4e5317cc2f8c2ac16b709113399331348.jpg?1498197767" style="width: 300px;" class="fr-fic fr-dib"></p>

[2017-06-23 11:07] theshoosh commented on #74
I would also like to hear a response on this. There is nothing in the documentation...

[2017-06-23 15:27] batcapu commented on #17
Had the same issue.

I just had to add that line to index.html and it worked perfectly.
`  <script src="../node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>`

[2017-06-23 16:14] stefanneculai commented on #74
See: https://github.com/froala/angular2-froala-wysiwyg#events-and-methods

[2017-06-23 16:14] #74 closed

[2017-06-23 16:14] stefanneculai commented on #80
By default, the editor uploads the images and files to our servers so that you can test how the editor works right away. However, they are stored there only temporary and might be deleted at anytime. We do strongly recommend to change this and upload it to your own server. Please read more about that on our website:
https://www.froala.com/wysiwyg-editor/docs/concepts/image-upload.

[2017-06-23 16:14] #80 closed

[2017-06-23 16:16] stefanneculai commented on #79
@valimvf could you please make a Plunker?

[2017-06-23 16:17] stefanneculai commented on #75
You should use the edit.off method in order to make the editor not editable. It is best to do that inside the initialized event.

[code]

[2017-06-23 16:17] #75 closed

[2017-06-26 09:34] pstarace commented on #17
Hi to solve with angular-cli I had to add in module file:
`import "froala-editor/js/froala_editor.pkgd.min.js";`
just above:
`import { FroalaEditorModule, FroalaViewModule } from 'angular2-froala-wysiwyg';`
and then in main.ts:
`import * as $ from 'jquery';
window["$"] = $;
window["jQuery"] = $;`

as suggested in ["Use with ionic v2 or v3"](https://www.froala.com/wysiwyg-editor/docs/framework-plug

[2017-06-28 09:48] hiepxanh commented on #43
hello, someone helps me on this? i have the same problem

[2017-07-03 05:01] gouthamsaie commented on #47
@alfredalfie, Have you solved the above proble..? If yes please let me know how to overcome this error.

[2017-07-03 06:03] poppo191 opened #81 "Problem when embedded video"
Hi. I have a problem when added video from youtube. after that, I can't click anything. I attach the image.

Thank you.

<img width="1787" alt="screen shot 2560-07-03 at 1 02 58 pm" src="https://user-images.githubusercontent.com/4536339/27779920-027e70da-5ff0-11e7-9f8c-4ee41267e6ea.png">

[2017-07-03 10:27] stefanneculai commented on #81
@poppo191 please make sure you are including the `froala_style.css` file.

[2017-07-03 10:27] #81 closed

[2017-07-04 18:11] gputrick opened #82 "Integration with angular 4"
Is there any progess about integrate froala editor with angular 4 versions and upper.

[2017-07-05 11:46] VampireDaniel opened #83 "youtube embed video works wrong in Froala editor"
<div style="" [froalaModel]="livestreamURL"></div>
when you set youtube embed video into livestreamURL, the html in frontend will render a span tag with 'class="fr-video fr-fvc fr-dvi fr-draggable"'. this will lead to some unexpected user experience.

![image](https://user-images.githubusercontent.com/12490709/27852188-b1b068fa-6190-11e7-8d07-16ed73c20b68.png)

but if set facebook embed video, the

[2017-07-05 13:55] stefanneculai commented on #83
@VampireDaniel by default the editor is using that span in order to enable rich editing features on the video. It looks you don't want to keep any of them, therefore it would be better to create a custom popup where to insert the Facebook Embed rather than trying to remove all the features from the Video one.

[2017-07-05 13:55] #83 closed

[2017-07-05 13:59] stefanneculai commented on #82
@gputrick this package should work with Angular 4 versions as well. There is only one small thing highlighted here and we'll update it in the next days: https://github.com/froala/angular2-froala-wysiwyg/issues/71#issuecomment-308685375.

[2017-07-05 14:46] stefanneculai commented on #78
@juankmarin the best way would be to use manual initialization for that: https://github.com/froala/angular2-froala-wysiwyg#manual-initialization

[2017-07-05 14:46] #78 closed

[2017-07-05 14:51] stefanneculai commented on #77
Thanks! 👍

[2017-07-05 14:51] #77 closed

[2017-07-05 18:04] #82 closed

[2017-07-06 02:36] VampireDaniel commented on #83
my concern is why fb wont render an additional span tag.
and any option to stop rendering this tag for youtube?

[2017-07-06 09:11] joelmuskwe opened #84 "error after instalation using angular-cli v1.1.2"
core.es5.js:1020 ERROR Error: Uncaught (in promise): ReferenceError: $ is not defined
ReferenceError: $ is not defined
    at new FroalaEditorDirective (editor.directive.js:29)
    at createClass (core.es5.js:11000)
    at createDirectiveInstance (core.es5.js:10831)
    at createViewNodes (core.es5.js:12259)
    at callViewAction (core.es5.js:12703)
    at execComponentViewsAction (core.es5.js:126

[2017-07-06 11:07] stefanneculai commented on #84
Please make sure you are including `jQuery`. In angular-cli.json and insert a new entry into the scripts array.
[code]

[2017-07-06 11:07] #84 closed

[2017-07-06 11:08] stefanneculai commented on #83
@VampireDaniel could you please send us the HTML you are embedding there for Facebook? It is not possible to add an option for not using that tag.

[2017-07-06 11:47] stefanneculai commented on #47
@gouthamsaie I believe you should change the import for the editor to:
[code]

[2017-07-06 12:11] stefanneculai commented on #42
Closing this due to lack of response.

[2017-07-06 12:11] #42 closed

[2017-07-07 01:03] VampireDaniel commented on #83
<div *ngIf="livestreamURL" style="" [froalaEditor]="livestreamFroalaOpts" [froalaModel]="livestreamURL"></div>

I do some condition judgment to detect the url is fb or youtube.

and here are the samples of embed url
fb:
<iframe src="https://www.facebook.com/plugins/video.php?href=******" width="640" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="

[2017-07-07 15:38] pastorsj opened #86 "Uploading images to Amazon S3"
I am attempting to upload a image to Amazon S3, which requires me to make a call to my nodejs backend and get a hash (as seen in this [article](https://www.froala.com/wysiwyg-editor/docs/sdks/nodejs/image-s3-upload#complete-example)). I can get the hash successfully, but since the call is asynchronously, when I attempt to set the "options" object, the froala editor does not recognize the change. I

[2017-07-08 13:32] stefanneculai commented on #86
@pastorsj what I would recommend you to do is to make the request to the server and then manually initialize the editor once you get the response from there. This is actually the way we explain in our docs do do it.

[2017-07-08 13:32] #86 closed

[2017-07-08 13:36] stefanneculai commented on #83
That doesn't really help to see the problem. Would it be possible to make a Plunker?

[2017-07-09 13:28] pastorsj commented on #86
Thanks for the quick reply. That worked.

[2017-07-11 03:54] poppo191 commented on #81
@stefanneculai Thank you. It's working now :)

[2017-07-11 10:19] tsukhu commented on #79
I am also facing the same issue when using the FroalaEditor using ngFor. If there is a dynamic template involved and we use the initOnclick approach , there is no way to reset the editor. As a result subsequent clicks do not work properly. If I minimize the browser or change focus and come back to the same page then I am able to click on the next element. Please suggest or point me to a sample whe

[2017-07-11 13:50] tsukhu commented on #79
Also if I don't use the option initOnclick, the model for all editors (all td elements) point to the last object of the ngFor loop. I guess we do need to use InitOnclick in case of dynamically generated templates..

[2017-07-11 14:37] dsvishchov commented on #67
Same issue for me. In conjunction with ngBootstrap and specifically NgbDatepicker it just breaks it. Screencast of happening: https://youtu.be/JPDUCYMns7g. Without Froala everything works as expected. Steps to reproduce are simple, exactly as described by @goliknes.

[2017-07-12 08:42] stefanneculai commented on #79
@tsukhu would it be possible to make a Plunker for it? Thanks.

[2017-07-12 12:44] tsukhu commented on #79
@stefanneculai it will take a long time to set that up so sending you what ever I can with screenshots

* I am trying to create use case where I have a carousel with images coming from a slides array
* The Froala Editor will be a great tool here if in an edit mode I can update the slides array and see the result immediately
* The main problem I face is that while the focus even shows the correct e

[2017-07-12 16:23] stefanneculai commented on #79
@tsukhu does it work if inside the options you put a different new option called _id for each link?

[2017-07-12 16:48] tsukhu commented on #79
Can you please provide details of how to specify that..

[2017-07-12 16:52] stefanneculai commented on #79
You should pass it together with the rest of the options.

[2017-07-12 17:00] tsukhu commented on #79
Sorry for sounding ignorant. But do you mean the model or the options for the editor. I assume the model (slides array), right.. adding an additional element _id to each..

[2017-07-12 17:02] stefanneculai commented on #79
The options for the editor. Sorry for not being explicit enough.

[2017-07-13 04:54] tsukhu commented on #79
@stefanneculai - Thanks that worked (adding a new options  _id for each editor)  .. however there is a new issue now ..

The toolbars now remain active once clicked and do not close. How do I close these on the blur event ?Which editor method do I need to call or is there a specific option for this.
![image](https://user-images.githubusercontent.com/846306/28150836-bed9c1b4-67b4-11e7-9406-97ba24d7

[2017-07-14 19:58] stefanneculai commented on #79
@tsukhu this appears to be a problem from our side. We'll fix it shortly. I am closing this in favor of https://github.com/froala/wysiwyg-editor/issues/2091, because it's an editor issue not related to Angular.

[2017-07-14 19:58] #79 closed

[2017-07-17 09:26] MrPardeep commented on #17
@pstarace Thank you so much , your suggestion is working fine :)

[2017-07-19 15:12] rajavijayavendan opened #87 "toolbar positioning issue"
![rich-text](https://user-images.githubusercontent.com/24286436/28374525-a4c7143a-6cc2-11e7-87a2-f41e32aee071.png)

How to fix the position of the toolbar..

[2017-07-19 15:14] stefanneculai commented on #87
@rajavijayavendan This looks like a CSS issue. For tech support please contact us via our website. Thank you.

[2017-07-19 15:14] #87 closed

[2017-07-28 11:16] akshayvenugopal commented on #17
@pstarace Thank you for your pointer

[2017-07-30 14:47] lagmanzaza opened #89 "it has two toolbar when i want to editor ?"
![88888](https://user-images.githubusercontent.com/5283709/28754503-bd6948a8-7570-11e7-9778-0cf6dbc673a0.PNG)

[2017-07-30 15:34] lagmanzaza commented on #89
I can fix it

[2017-07-30 15:34] #89 closed

[2017-08-02 02:14] nmorado opened #90 "why is X-XSRF-TOKEN not set in header for image upload?"
is this a bug? or is there configuration/option available to turn this on?

[2017-08-03 03:44] qaznine opened #91 "Angular4 questions"
1. How to hide the quick insert button when focus on a new line?
2. How to disable the editor from auto adding html tag < p >< /p > to the content?
3. How to disable the function to go to new line when enter is hit?

[2017-08-03 15:00] criticalbh commented on #67
Froala is causing huge performance issues to our angular app. Change detection triggered all the time.

[2017-08-04 09:24] stefanneculai commented on #91
1. You should just not include the quick insert plugin.
2. Use enter: $.FroalaEditor.ENTER_BR option.
3. Not possible without making changes in the editor JS.

PS: For tech support please contact us via our website. Thank you.

[2017-08-04 09:24] #91 closed

[2017-08-04 09:24] stefanneculai commented on #90
@nmorado you should use https://www.froala.com/wysiwyg-editor/docs/options#requestHeaders.

[2017-08-04 09:24] #90 closed

[2017-08-09 03:55] smartHasmukh commented on #55
@surajkhanal Do we need to upload image through api or not? if not so please suggest me how can i upload images?

[2017-08-09 14:29] smartHasmukh opened #92 "I have to delete image through rest API. How can I use."
I want to call remove image API when click on remove button.
when press back space in editor.
when close browser tab. etc..

Please have a look screenshot. I want to call API below all cases. so how can I manage in Angular4. I want to buy text editor.

[code]

![aaa](https://user-images.githubusercontent.com/8941195/29126516-35549ac0-7d3c-11e7-9eb5-59be7400e506.png)

I have spent 12 hours for read

[2017-08-10 14:52] surajkhanal commented on #55
@smartHasmukh  yes we need api. Just follow the image upload process as in froala document.

[2017-08-10 16:41] stefanneculai commented on #92
Sure, you should use the events as described in the docs: https://github.com/froala/angular-froala-wysiwyg#events-and-methods.

To hide the `video` / `file` icons, you should use the toolbarButtons.

[2017-08-10 16:41] #92 closed

[2017-08-11 13:41] a-kolybelnikov opened #93 "No JWT token in GET request after image was upoloaded"
I am setting my token with the requestHeaders property in the initial POST request, and the uploaded images are getting uploaded in the back-end. (I can see the authorization property set correctly in the request and I am even returning the token in the response headers). However, the image is not retrieved on the subsequent GET request and cannot be shown in the editor. The second request has no

[2017-08-11 13:43] stefanneculai commented on #93
@a-kolybelnikov the GET request is made by the browser when loading the image within the `img` tag. A solution to this might be to use the `image.uploaded` callback and make a request to server and return the image as base64. Please find more about such an approach on StackOverflow: https://stackoverflow.com/questions/35079576/loading-image-in-javascript-with-bearer-token.

[2017-08-11 13:43] #93 closed

[2017-08-17 09:12] jruef commented on #67
Any progress an a solution for this issue? My company would like to use this nice editor, but without solving this issue i have my doubts that that will happen...

[2017-08-22 13:09] stefanneculai commented on #67
It appears the problem comes from some events the editor binds to the `window` object. It would be possible to avoid that by using the [runOutsideAngular](https://angular.io/api/core/NgZone#!#runOutsideAngular) method, but it would break syncing the editor's content. We are still looking into this and if you have any suggestions they are really welcomed.

[2017-08-23 06:56] khan-yaseen opened #94 "Property 'FroalaEditor' does not exist on type 'JQueryStatic'."
I seem to be getting an error here ,

[code]
when i try to use FroalaEditor in an already existing project. But the same seems to be working in the demo [https://github.com/froala/angular-froala-wysiwyg/tree/master/demo](url).

As far as i know, i think i have installed all the dependencies.

`ERROR :  Property 'FroalaEditor' does not exist on type 'JQueryStatic'.`

[2017-08-23 09:10] a-kolybelnikov commented on #93
@stefanneculai thanks for the suggestion. However, there is a safer one for Angular2 projects here:
[request image files with angular2 and bearer token](http://blog.jsgoupil.com/request-image-files-with-angular-2-and-an-bearer-access-token/#disqus_thread)
I hope it can be helpful to someone.

[2017-08-24 21:33] stefanneculai commented on #93
That's an option as well. Thanks for pointing that. 👍

[2017-08-24 21:33] stefanneculai commented on #94
@khan-yaseen I believe you're missing `declare var $ :any;`.

[2017-08-24 21:33] #94 closed

[2017-08-25 05:09] khan-yaseen commented on #94
this solved it, thanks.
I'm using typescript so it was `let $ : any;`

[2017-08-25 05:42] joeyscarim opened #95 "Performance Issue with Ionic 3"
Ionic version: 3.6.0

I have installed the plugin as described in the "Use with ionic v2 or v3 section".When using my app, I get normal CPU usage as recorded in xCode. However, whenever I open a page or modal (I've tested both) that includes Froala on it, my CPU usage spikes to 80%+. This remains true even when I leave the modal or page in question, and doesn't reduce even after 5 minutes of waiti

[2017-08-25 10:44] krishna139 opened #96 "How to call function for insert image and video by link to server by http request in angular2.?"
What params we have to set for insert the video and images.(not upload). Please help me to find this solutions.
Thanks

[2017-08-25 21:47] skk2142 opened #97 "paragraph style class applied but style doesn't change"
I'm trying to apply paragraph style to the selected tag. The style class is being added to the paragraph but it doesn't show. In the example below, the color of the text is not changed after applying class `blueText` to the paragraph. Where am I supposed to define the css style? I'm currently doing it in the `component.scss` file. Do I have to include the `paragraph_style.min.js` for paragraphStyl

[2017-08-25 23:03] skk2142 commented on #97
So, it turns out that one has to include the styles file with styles to be applied inside the editor before `../css/froala_style.min.css`. So, I included my `editor.style.scss` file before `../css/froala_style.min.css` in `.angular-cli.json`

[2017-08-25 23:04] #97 closed

[2017-08-26 03:18] skk2142 opened #98 "The text cursor doesn't show when clicking below an inserted image."
This bug should be easy to reproduce. Just insert an image and then click on the line next to the image. The cursor doesn't show. However when you start typing, it will type on the line. This is a bad UX. Can you look into it?

[2017-08-26 03:28] skk2142 opened #99 "text cursor doesn't show beside an inserted aligned left image with inline-block"
The text cursor is not visible nor am I able to type anything beside a left aligned image. This issue persists even after inline or block mode is chosen. Please fix this!!!! The problem is easily reproducible.

[2017-08-26 16:51] skk2142 commented on #99
Not sure why but it seems okay now.

[2017-08-26 16:51] #99 closed

[2017-08-26 20:23] #98 closed

[2017-08-28 14:52] stefanneculai commented on #96
@krishna139 could you please provide few more details about what you want to achieve?

[2017-08-28 14:58] stefanneculai commented on #95
@joeyscarim the editor instance can be destroyed by using the `destroy` method.

In order to update the toolbar position, the editor is using an animation frame and maybe that is the culprit. We'll check shortly.

[2017-08-28 20:36] joeyscarim commented on #95
Thank you @stefanneculai

Are these any examples of how to destroy the instance/call destroy() in Ionic?

[2017-08-29 10:54] #96 closed

[2017-08-30 11:03] stefanneculai commented on #95
The best way would be to use the [manual initialization example](https://github.com/froala/angular-froala-wysiwyg#manual-initialization) and then use `this.initControls.getEditor()('destroy')`.

[2017-09-01 09:33] h657070128 opened #100 "Form.dirty incorrectly set to be true while using reactive form"
Using
[code]
`form.dirty` is `true` after initialization. But it should be `false` before user changes the content via UI.

[2017-09-02 07:38] krishna139 opened #101 "How to bind click event in image tag of data of froala editor. ?"
So that when I used that code in mine html page and click on it.it will display original size image uploaded on server.

[2017-09-03 17:26] venkateswarlunalabolu commented on #67
is it possible to customize this editor. if possible where can i see this source code of the editor in angular 2

[2017-09-04 08:25] stefanneculai commented on #101
It is best to do that in JS outside of the editor on the page where you're displaying the editor content.

[2017-09-04 08:25] #101 closed

[2017-09-04 08:38] krishna139 commented on #101
But how can I get particular img tag and bind event to that.???

[2017-09-04 08:40] stefanneculai commented on #101
You can wrap the editor content in DIV element and add an ID to it to identify the images coming from the editor.

[2017-09-04 08:49] krishna139 commented on #101
can u please explain me with example..??? . because I already try with this case.

[2017-09-14 21:09] joshmedeski opened #102 "Updates?"
Hey team, I noticed `v2.6.6` got released on Github yesterday, but it's not published to `npm` yet. Do you have an ETA for when it will be available on `npm`?

[2017-09-16 15:50] KshitizGIT opened #103 "Support for server side rendering. Help integrating with dotnet core 2.0 angular template"
When integrating with the "angular" template of dotnetcore 2.0 application, I am getting NodeInvocationException: Template parse errors: <div [ERROR ->][froalaEditor].

The template contains two webpack configs ->  webpack.config.js and webpack.config.vendor.js.

[2017-09-18 08:23] stefanneculai commented on #102
It's already available on npm: https://www.npmjs.com/package/angular-froala-wysiwyg.

[2017-09-18 08:23] #102 closed

[2017-09-18 08:24] stefanneculai commented on #103
@KshitizGIT at this moment the editor doesn't support server side rendering.

[2017-09-18 08:24] #103 closed

[2017-09-18 08:25] stefanneculai commented on #95
@joeyscarim have you had the change to look over the suggestion I made here? How was it going?

[2017-09-19 18:37] smartHasmukh commented on #92
@stefanneculai  thanks

[2017-09-26 19:19] joeyscarim commented on #95
@stefanneculai switching to wkwebview and calling destroy had **major** improvements in CPU usage. there does still seem to be a leak but the app is now usable for multi hour tests that we did without issue. I can provide more xCode data if desired.

[2017-09-27 00:58] pastorsj opened #104 "Custom plugin resizing issue"
I am attempting to make a custom plugin to display gist-like text and I am having sizing issues with the editor. When I added the custom plugin boilerplate code from the main website, it shrunk the size of the editor down by at least half in width. I am not sure what caused this, but I would like to revert the size of the editor back to its original size. Does anyone have any thoughts? I have left

[2017-09-27 09:37] stefanneculai commented on #104
@pastorsj it would be helpful if you could provide a demo link to it.

[2017-09-27 09:39] stefanneculai commented on #95
@joeyscarim I am closing this for now. If you could find more details about the memory leak so we can reproduce it, we'd be happy to look into this matter.

[2017-09-27 09:39] #95 closed

[2017-09-27 09:48] natcohen commented on #67
@stefanneculai Still no fix for this?

[2017-09-27 22:17] pastorsj commented on #104
Will do, I am in the process of creating a demo

[2017-09-27 23:38] pastorsj commented on #104
I am beginning to realize this is less of an issue with the angular plugin itself, and more the froala editor (and probably my knowledge of the editor), but I will leave the demo here.

https://codepen.io/Froala/pen/OpGaaJ

If you add all of the buttons specified below (where myButton is the button corresponding to the plugin) to Line 127 of the js window, note that only a certain few show up. How

[2017-09-28 02:13] cjdreiss commented on #77
@stefanneculai in the docs for the stylesheet links you have `"/build/filename"`, but per @Robinyo it needs to be `"build/filename"`.

With the leading slash it works with `ionic serve` but when you do an actual build for a device it does not.  I had a list of all the buttons and menu option titles instead of an editor.

I've tested on builds done with `ionic cordova build android --prod`, `ionic

[2017-09-28 23:18] pastorsj commented on #104
@stefanneculai After much trial and error, I figured out that everything still works if you get rid of the line `pluginsEnabled: ['customPlugin']`, and all of the buttons are now working. Please let me know whether this is a bug with the editor or something I did not know. Otherwise, I will close out the issue. Thanks!

[2017-09-29 21:42] sylar-s commented on #100
Anyone find a work-around for this issue? I just ran into it. Thanks!

[2017-09-29 23:32] PaulKahl opened #105 "Maximum call stack size exceeded"
While using Froala in a modal, I attempted to dismiss the modal (cancel button), and received that error.

Button calls a cancel method:

[code]

The modal dismiss (which was working before I put the Froala editor in it) instantly throws this error:

    at String.replace (<anonymous>)
    at _ (jquery-1.8.2.min.js:2)
    at Object.remove (jquery-1.8.2.min.js:2)
    at Object.remove (jquery-1.8.2.

[2017-10-02 04:52] LmKupke opened #106 "Write Angular Components inside WYSIWYG"
Hi there,

I was wondering if you are able to write Angular component selectors in the WYSIWG editor and be able to see the components when saved so long as you have the components already written before hand. Can the getting those components in the HTML page be rendered in to full components?

[2017-10-02 09:31] NadirbekNurlybekov opened #107 "Angular-froala. Error on initControls.initialize()"
Hello! I have found problem, would you mind paying attention to this? After the page had been loaded firstly, I deleted one object Question. Then when I ran initControls.initialize() by clicking, it did not work.

my html:
`<tr ng-repeat="Question in Questions track by $index">`
&emsp;`<td>`
&emsp;&emsp;`<i class="glyphicon glyphicon-trash" ng-click="RemoveQuestion(Questions, $index)"></i>`
&emsp;

[2017-10-02 10:43] stefanneculai commented on #106
@LmKupke unfortunately, that is not possible.

[2017-10-02 10:43] #106 closed

[2017-10-02 10:43] stefanneculai commented on #105
@PaulKahl would it be possible to create a Plunker for it?

[2017-10-02 10:45] stefanneculai commented on #107
@NadirbekNurlybekov would it be possible to create a Plunker for it? Thanks in advance.

[2017-10-02 10:59] stefanneculai commented on #104
@pastorsj the `pluginsEnabled` should include all the plugins you want to enable.

[2017-10-02 10:59] #104 closed

[2017-10-02 12:13] NadirbekNurlybekov commented on #107
[designtests - for plunker.zip](https://github.com/froala/angular-froala/files/1348802/designtests.-.for.plunker.zip)

1. First click on the edit button, then save
2. Then when you first load the page, delete one object, and then try clicking on the edit button
3. Click one the edit button, then save, edit again, then save, and so repeat 4-6 times, thats why the delete button will not work

[2017-10-02 12:13] NadirbekNurlybekov commented on #107
I tried to create a Plunker, but it does not work.
https://plnkr.co/edit/MWmeCGBqSltsSroWv350?p=catalogue

[2017-10-06 21:07] bklik opened #108 "Froala is causing change detection to fire on mousemove"
While a froala editor is on screen, it causes Angular to fire change detection on every single movement of the mouse.

[2017-10-06 21:14] bklik commented on #108
It also is not properly removing event listeners OnDestroy, so once it starts firing change detection it won't stop even after you destroy the component.

[2017-10-06 21:18] #108 closed

[2017-10-06 21:18] bklik commented on #108
Duplicate of: https://github.com/froala/angular-froala-wysiwyg/issues/67

[2017-10-06 22:42] bklik commented on #67
I figured it out. I tried pushing a branch with the fix, but wasn't successful. All the work is in the editor.directive.ts file.

Start by adding NgZone to the constructor, line 43:
`constructor(el: ElementRef, private zone: NgZone) {`
`...`

Init the editor outside of Angular, line 200:
`// init editor`
`this.zone.runOutsideAngular(() => {`
`  this._editor = this._$element.froalaEditor(this._opts

[2017-10-08 13:01] SlimenTN opened #109 "Missing jQuery I guess"
I get this error after adding froala to my angular project:
[code]

I'm using:
**Angular**: ^4.2.4
**Froala**: ^2.7.0

[2017-10-08 14:28] stefanneculai commented on #109
@SlimenTN it looks like jQuery is not defined globally. Have you followed the instructions from: https://github.com/froala/angular-froala-wysiwyg#integration?

[2017-10-08 14:28] #109 closed

[2017-10-09 13:34] juankmarin opened #110 "Error to switch the Code View"
Right now, I'm using the Froala version 2.6.5 and codemirror version 5.3.0 on my angular-cli project, so, when I try to switch to the code view on my component, I'm getting the follow error:

`ERROR TypeError: b.opts.codeMirror.fromTextArea is not a function
    at f (eval at webpackJsonp.../../../../script-loader/addScript.js.module.exports (addScript.js:9), <anonymous>:14:15519)
    at Object.g

[2017-10-09 13:53] bklik commented on #67
@stefanneculai, I tweaked my fix in my comment. You only need to run the zone at the end of updateModel().

[2017-10-09 14:28] juankmarin commented on #110
I fix it, just was remove the option `codeView: true`

[2017-10-09 14:28] #110 closed

[2017-10-10 00:03] tramel-woodard opened #111 "Standard Way to Bind NgModel to FroalaEditor element?"
Is there any way to bind the ngModel property directly to the [(froalaModel)] property?

It seems that this would be directly built in to the library but can't find any way to make it work.

[2017-10-10 19:16] jchenevarin commented on #100
Same for me, seems the dirty & pristine flags are not correctly set at initialization.. Or maybe I'm wrong somewhere.. Any help appreciated here !

[2017-10-11 08:41] lakinmohapatra opened #112 "ReferenceError: $ is not defined"
ReferenceError: $ is not defined

I am using angular cli . Still facing this error.
I followed all steps being mentioned here.

[2017-10-11 08:44] lakinmohapatra commented on #112
this._$element.froalaEditor is not a function

[2017-10-11 10:04] ouxuwen commented on #112
open src/app/main.ts and add javascript "import * as $ from 'jquery'; window["$"] = $; window["jQuery"] = $"; import "froala-editor/js/froala_editor.pkgd.min.js";

[2017-10-11 11:31] mateuszwitkowski opened #113 "recalculate sticky toolbar position after view changes"
Sticky toolbar doesn't recalculate its position after changes were made in view. For example:
[code]

If LazyComponent(s) is rendered after ComponentWithFroala was created, toolbar is wrongly positioned (it is fixed to top of the browser). How to recalculate its position? I've tried to call position.refresh method on focus event but toolbar's position is still broken.

[2017-10-11 13:04] lagmanzaza opened #114 "How to upload image to firebase storage and render image on editor?"

[2017-10-11 16:01] TomMettam opened #115 "Provide license key?"
How does one provide their license key to Fraola via this module?

[2017-10-11 16:30] TomMettam commented on #115
Worked it out. You have to provide it in the "options" i.e

`<div [froalaEditor]="editorOptions">`

`public editorOptions: Object = {
        key: 'yourlicensekey',
    };`

[2017-10-11 17:57] josehernandezv opened #116 "The video imported is not in HTML 5 format"
When I add a video in a textarea and then try to display it in another page with an innerHTML the video doesn't appear cause is not under HTML 5 format.

[2017-10-11 18:44] bklik commented on #67
Poke. Is this going to get patched?

[2017-10-11 21:08] bklik commented on #115
@TomMettam, you can close your own ticket.

[2017-10-11 21:13] TomMettam commented on #115
I know, but I was hoping someone might take this opportunity to perhaps add some documentation. Maybe. :)

[2017-10-12 11:18] stefanneculai commented on #115
@TomMettam we'll add details about that directly on the Froala Account for easier usage.

[2017-10-12 11:18] #115 closed

[2017-10-12 11:19] stefanneculai commented on #67
@bklik yes, we'll update it in a couple of days most.

[2017-10-12 11:26] stefanneculai commented on #116
@josehernandezv the videos are being inserted as iframes. If you could explain more about the steps we should follow to reproduce this problem, we would be happy to look into it.

[2017-10-12 11:26] #116 closed

[2017-10-12 11:31] stefanneculai commented on #114
@lagmanzaza the editor doesn't has built-in upload to Firebase, therefore I would suggest to use the file.beforeUpload event, convert the image to blob and from there upload to Firebase.
https://www.froala.com/wysiwyg-editor/docs/concepts/image/upload
https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-
https://firebase.google.com/docs/storage/web/upload

[2017-10-12 11:31] #114 closed

[2017-10-12 11:33] stefanneculai commented on #113
@mateuszwitkowski calling `position.refresh` is the correct way of doing it. If the toolbar position is still incorrect, then most likely the `scrollableContainer` option is not set correctly. Providing a plunker with your problem would help in fixing this quickly.

[2017-10-12 11:33] #113 closed

[2017-10-12 11:34] stefanneculai commented on #112
In `.angular-cli.json` file insert a new entry into the scripts array
[code]

@lakinmohapatra the suggestion from @ouxuwen should work as well.

[2017-10-12 11:34] #112 closed

[2017-10-12 11:44] stefanneculai commented on #111
@tramel-woodard please see: https://github.com/froala/angular-froala-wysiwyg#model.

[2017-10-12 11:44] #111 closed

[2017-10-12 11:45] stefanneculai commented on #110
@juankmarin the coreMirror option was changed recently: https://www.froala.com/wysiwyg-editor/docs/options#codeMirror.

[2017-10-13 10:51] hiepxanh opened #117 "Unexpected token import when using with angular universal and firebase functions"
node_modules\angular-froala-wysiwyg\view\view.directive.js:1
(function (exports, require, module, __filename, __dirname) { import { Directive, ElementRef, Renderer, Input } from '@angular/core';
                                                              ^^^^^^
SyntaxError: Unexpected token import

hello, i got this error when I'm trying to create an universal website, can you build your .js cod

[2017-10-15 16:20] deepakpapola commented on #55
can anyone share the code for upload image to own server?

thanks in advance

[2017-10-15 19:59] deepakpapola commented on #92
have you solve your issue? can you share your working code for deleting image

thanks in advance

[2017-10-16 13:23] stefanneculai commented on #55
@deepakpapola See https://www.froala.com/wysiwyg-editor/docs/server/nodejs/image-upload.

[2017-10-17 06:13] gofreddo commented on #67
+1

Any update on when this update will occur?

[2017-10-17 10:33] Huuuze commented on #67
Same question. The patch was submitted 11 days ago. Why is this taking so long?

[2017-10-17 21:02] #67 closed

[2017-10-17 21:05] stefanneculai commented on #67
@goliknes @dsvishchov @criticalbh @jruef @natcohen @bklik @gofreddo @Huuuze sorry guys it took so long. We were a bit delayed by the launch of the [Design Blocks](https://www.froala.com/design-blocks) product last week.

[2017-10-18 08:07] abdulkareemnalband opened #118 "How set focus in editor manually"
template
[code]

component
[code]

now how can I set focus in editor using `editor` field?

[2017-10-18 08:38] janstrbik opened #119 "Customize image manager"
Hello, I have a method in my application to get images as json data in same format as here https://www.froala.com/load_images_v2, but how to use this images in manager? I cant use it as URL, because I have implemented custom http client with secured tokens.
And how can I customize UI of this manager? I need to change layout to list, add image search input, etc..

I cant find any documentation to a

[2017-10-24 17:27] stefanneculai commented on #119
At this moment it is not possible to change the way Image Manager looks.

[2017-10-24 17:27] #119 closed

[2017-10-24 17:28] stefanneculai commented on #118
[Initialize the editor manually](https://github.com/froala/angular-froala-wysiwyg#manual-initialization) and then call the `events.focus` method.

[2017-10-24 17:28] #118 closed

[2017-10-26 09:38] deepakpapola commented on #55
@stefanneculai  thanx it helps..

i have another issue
how can i save html and text (without elements )
for example
html - <p> hello floara </p>
but i wanna save both "<p> hello floara </p> " and " hello floara "

[2017-10-26 16:38] elessariel opened #120 "Start froala in code-view mode"
How would I go about starting froala directly with code-view mode enabled?
or if that is not possible get an instance to the editor and use the api to switch to code-view immediately?

[2017-10-29 09:42] mkemmerling commented on #67
I appreciate the patch, but is there any reason why you call `console.log` with the options each time the editor is created in `this.zone.runOutsideAngular`?

[2017-10-30 12:15] core-avatar opened #121 "Remove console.log"
[code]

Please remove it it's annoying.

[2017-11-02 15:45] bperry77 opened #122 "Reactive form group reset does not clear editor"
When attempting to call FormGroup.reset(), the froala editor is not properly resetting itself.  I have found that null is not being handled properly, so I am working around this by setting the value to empty string but then that action dirties the control.  Snippet of the workaround below:

`writeValue(obj: any) {
        //Logs show that this method will fire twice when you set the value

[2017-11-03 09:13] RicardoVaranda opened #123 "Angular 5 Update"
Hi guys,

As you may know Angular 5 just dropped and was if/when you guys will be updating the dependencies.

Thanks for all the work!

cc @stefanneculai

[2017-11-03 09:46] stefanneculai commented on #123
@RicardoVaranda during next week we'll put an update. I believe it should work already in the current setup with Angular 5.

[2017-11-03 09:47] stefanneculai commented on #122
@bperry77 thanks for the suggestion. Do you think you could make a PR as well?

[2017-11-05 09:25] lagmanzaza opened #124 "I get error when I deploy to firebase"
I don't buy a license. I will test on a test server before.

![screen shot 2560-11-05 at 15 23 14](https://user-images.githubusercontent.com/5283709/32413131-8bde3a5e-c23d-11e7-841b-17475bdb9c12.png)

[2017-11-05 09:26] lagmanzaza commented on #117
I got the same error.

[2017-11-06 16:40] stefanneculai commented on #124
@lagmanzaza could you please provide a way to replicate this? Thank you.

[2017-11-06 16:41] stefanneculai commented on #117
@hiepxanh @lagmanzaza we're going to come with a solution for this in the upcoming days.

[2017-11-06 17:27] lagmanzaza commented on #124
I create the editor from https://github.com/froala/angular-froala-wysiwyg
and I create server-side rendering https://www.youtube.com/watch?v=gxCu5TEmxXE
when I deploy the only client its OK, but when I deploy client and server its error.

[2017-11-07 21:20] stefanneculai commented on #124
@lagmanzaza at this moment we do not support server-side rendering for the editor.

[2017-11-08 11:00] lagmanzaza commented on #124
Thank you very much

[2017-11-08 11:00] #124 closed

[2017-11-09 05:20] maiphuong commented on #86
@pastorsj couls you share your code? I got the same problem

[2017-11-09 06:40] AshishTiwariMEAN opened #127 "Get Value"
Can you please suggest how we can get value from editor in our component ?

[2017-11-09 09:17] sangwin commented on #127
Use this :
`<div [froalaEditor] [(froalaModel)]="editorContent"></div>`
`
<div [froalaView]="editorContent"></div>`

[2017-11-09 09:18] AshishTiwariMEAN commented on #127
Now solved thanks.

[2017-11-09 09:18] #127 closed

[2017-11-09 22:24] aerionTech commented on #122
Where does this code get placed? If I can understand where this goes we can complete the PR, we are having the same issue.

[2017-11-10 03:58] hungcv commented on #17
need update the document

[2017-11-12 02:25] lansana commented on #121
It seems this is not on the latest version on NPM. Any updates when this will occur?

[2017-11-12 14:41] core-avatar commented on #121
Had to integrate master myself into the angular app for presentation next week.
linter goes crazy. ever heard of const...

[2017-11-13 12:03] #121 closed

[2017-11-13 12:03] stefanneculai commented on #121
There is going to be a release with this change included by the end of this week.

[2017-11-15 15:17] ferdaousharmel opened #128 "events cannot execute any angular code"
Hello Everyone,

When I try to fire an event using :
public options: Object = {
  placeholder: "Edit Me",
  events : {
    'froalaEditor.focus' : function(e, editor) {
     //call method
    }
  }
}

the method which is angular method is unknown and every angular variable is undefined as we are in a context out of the angular one.
Can you help me please to fix this.

REGARDS.

[2017-11-17 20:44] patadv commented on #114
@stefanneculai -- Can you provide a few more details how to implement this? I've successfully used the beforeUpload event to capture the image file and use the Firebase Storage api to upload it. I have a storage URL ready to go, but I'm not sure how to insert it back into Froala.

All the other implementations seem to require a URL to accept the image request using the imageUploadParam. However, I

[2017-11-18 23:07] pereless360 commented on #17
How to use in Angular 5:

`
// Import the Froala Editor plugin.
import { FroalaEditorModule, FroalaViewModule } from 'angular-froala-wysiwyg';
import "froala-editor/js/froala_editor.pkgd.min.js";
import * as $ from 'jquery';
window["$"] = $;
window["jQuery"] = $;

// Import Angular plugin.
import { FroalaEditorModule, FroalaViewModule } from 'angular-froala-wysiwyg';
...

@NgModule({
   ...
   imp

[2017-11-18 23:08] pereless360 commented on #17
Not an issue but for Angular 5 use this is how

`
// Import the Froala Editor plugin.
import { FroalaEditorModule, FroalaViewModule } from 'angular-froala-wysiwyg';
import "froala-editor/js/froala_editor.pkgd.min.js";
import * as $ from 'jquery';
window["$"] = $;
window["jQuery"] = $;

// Import Angular plugin.
import { FroalaEditorModule, FroalaViewModule } from 'angular-froala-wysiwyg';
...

@Ng

[2017-11-22 12:14] stefanneculai commented on #114
@patadv please see https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-. It looks like your case is working just the same, only that instead of inserting the image after loading it from a local file, you insert it after it was uploaded to Firebase.

[code]

[2017-11-23 10:57] larxenne opened #129 "Use with Ionic"
Hi, since the last update, I have this bug

[code]

I'm using ionic, I never had this issue before, any idea ?

[2017-11-23 10:58] stefanneculai commented on #129
Nothing was changed on our side. That is strange.

[2017-11-23 11:01] larxenne commented on #129
Rolling back from  angular2-froala-wysiwyg    2.6.0  to 2.5.1-1 is fixing the issue

[2017-11-23 15:51] stefanneculai commented on #129
@larxenne 2.5.1-1 is using an older version of the `angular-froala-wysiwyg`. Please upgrade to the latest version `2.7.2` and follow the instructions from https://github.com/froala/angular-froala-wysiwyg#use-with-ionic-v2-or-v3.

[2017-11-23 15:51] #129 closed

[2017-11-23 16:02] qstiegler opened #130 "Remove logging for every editor instantiation"
In `editor.directive.js:144` there is a console.log which gets called on every editor instantiation. As i have a page with many instances it spaming my console. Could you please either add a flag to disable this or just remove it?

[2017-11-23 16:09] stefanneculai commented on #130
@qstiegler please upgrade to version 2.7.2.

[2017-11-23 16:09] #130 closed

[2017-11-27 16:08] #100 closed

[2017-11-27 16:12] stefanneculai commented on #122
@bperry77 @aerionTech all should be good in the latest master version.

[2017-11-27 16:12] #122 closed

[2017-11-27 16:28] #123 closed

[2017-11-27 16:31] stefanneculai commented on #128
@ferdaousharmel for this we would recommend using the manual initialization so that you have full control there: https://github.com/froala/angular-froala-wysiwyg#manual-initialization.

[2017-11-27 16:31] #128 closed

[2017-11-27 21:04] aerionTech commented on #122
Thanks for letting us know.

[2017-11-28 10:30] stefanneculai commented on #105
Closing this due to lack of response.

[2017-11-28 10:30] #105 closed

[2017-11-28 10:31] stefanneculai commented on #107
@NadirbekNurlybekov when removing a question, please make sure you destroy the editor instance first.

[2017-11-28 10:31] #107 closed

[2017-11-29 08:21] lagmanzaza opened #131 "cannot set default image width and image height"

[2017-11-29 08:27] hassanasad opened #132 "Getting Metadata version mismatch error"
Followed steps to install editor on angular-cli.

Getting the following errors:
[code]

I am using:
[code]

[2017-11-29 10:49] #131 closed

[2017-11-29 12:06] stefanneculai commented on #132
@hassanasad that is because you're using Angular 4, while the latest editor build `2.7.2-1` was created using Angular 5. Please upgrade your Angular deps.

[2017-11-29 12:06] #132 closed

[2017-11-29 18:43] hassanasad opened #133 "Issues with ng-container"
Toggling states between [froalaView] and [froalaEditor] with parent wrappers as `<ng-container>` creates clones of the field on which [froalaEditor] is added and causes issues.

For example:
[code]

[2017-12-01 12:11] hkarakose opened #134 "Text editor does not display the update"
There is a weird behaviour in froala text editor.

I have a submit button which makes an ajax request and saves updated message to the server. After I click submit and make the ajax request, I click "Subscription Renewed" message and then click "Subscription Created" message. And following situation happens:

<img width="822" alt="screen shot 2017-12-01 at 15 09 02" src="https://user-images.github

[2017-12-04 17:01] larxenne opened #135 "Bug image update on IOS (ionic2)"
I'm trying to implement Froala editor with ionic v2.
Everything works well, except the image update (by camera or by choosing an exysting picture in the lib)

On android, I have no issue, my image upload to my server smoothly.
On IOS, I can access the camera (or the lib), take a picture and press "Use Photo", but then, I go back to the froala editor and nothing happens (no error, nothing)

Any sug

[2017-12-04 23:32] aarndt opened #136 "Resize event(s) do not fire when changing image size via modal"
### Expected behavior
The resizeEnd (and perhaps resize) event(s) fire after an image has been resized via the "Change Size" button modal

### Actual behavior
When resizing an image via the "Change size" button/modal, the resize/resizeEnd events do not fire.

### Steps to reproduce
1. Add console log statements to the resize and resizeEnd events in order to observe events firing
2. Insert an image

[2017-12-04 23:33] #136 closed

[2017-12-04 23:34] aarndt commented on #136
Realized that this is in the wrong place. I'll post this over in the froala-wysiwyg repo

[2017-12-05 03:31] leo6104 commented on #135
I got same issue and i could find out the root cause is `FileReader`

Some of WebView Browser dose not support FileReader.addEventListener method.

I can fix this problem with adding prototype define for FileReader.addEventListner
[code]

[2017-12-05 03:43] leo6104 commented on #117
*Solution*
Update node version >= 8.5
node js support import syntax after 8.5 version.

[2017-12-05 08:16] zueore opened #137 "Property 'FroalaEditor' does not exist on type 'JQueryStatic<HTMLElement>'."
When trying to add custom buttons in the editor, got this error in jQuery. Referred the same issue here in GitHub but couldn't solve it by myself. How to solve this by adding interface which wasa mentioned in previous solutions. I'm using Angular 4!

[2017-12-05 08:29] harveymoons commented on #75
[code]

[2017-12-05 08:55] larxenne commented on #135
Thanks a lot, the fix works like a charm !
I spend quite a lot of time trying to find a solution.

So yea, I think it could be a good idea to add this  polyfill in the code.

Thanks again for the help, I'll let the issue open so then can see this issue.

[2017-12-05 17:35] philemall commented on #35
I'm having an issue where using FormGroup.reset(obj) with values is not updating the WYSIWYG.

I have a list of objects that you can click through to edit it's details, description being one of them. If you switch back and forth between the items a couple times, the WYSIWYG editor stops updating. It will update if you modify the value in any way, but will not on the default FormGroup.reset(objValu

[2017-12-05 20:17] iamtristangordon commented on #35
@florinpopescu Please respond to the previous two comments. I have the exact same problem, everything works fine save for the editor values updating when using FormGroup.reset().

[2017-12-05 20:19] stefanneculai commented on #35
@philemall @iamtristangordon please open a separate issue for this and it would help a lot in getting this resolved faster if you could provide a Plunker for it. Thanks in advance.

[2017-12-05 20:30] GustavoCantuF opened #138 "Metadata version mismatch for module. Can't compile using Angular Cli 1.5.4"
Getting

"Metadata version mismatch for module .../node_modules/angular-froala-wysiwyg/index.d.ts, found version 4, expected 3"

I followed angular-cli installation instructions and get that error whenever I try to run ng build / ng serve.

Another thing I noticed is that if I remove FroalaEditorModule.forRoot() and FroalaViewModule.forRoot() from app.module.ts and serve, it will compile, and if I

[2017-12-05 20:38] stefanneculai commented on #138
@GustavoCantuF please see https://github.com/froala/angular-froala-wysiwyg/issues/132#issuecomment-347840978

[2017-12-05 20:38] #138 closed

[2017-12-05 20:39] stefanneculai commented on #137
https://github.com/froala/angular-froala-wysiwyg#extend-functionality

[2017-12-05 20:39] #137 closed

[2017-12-05 20:40] stefanneculai commented on #134
@hkarakose could you please make a plunker for this?

[2017-12-05 20:42] stefanneculai commented on #133
@hassanasad having a plunker would help us to fix this faster. Do you think you could make one?

[2017-12-05 21:43] hkarakose commented on #134
I resolved this issue by fetching the editor view from the DOM and setting the value manually in Angular component:

    let elementsByClassName: HTMLCollectionOf<Element> = document.getElementsByClassName("fr-element fr-view");
    for (let i = 0; i < elementsByClassName.length; i++) {
        elementsByClassName.item(i).innerHTML = res.messageTemplate;
    }

This issue is resolved for the momen

[2017-12-06 19:32] secondcircle commented on #117
I am having the same issue, I have node version 9.2

[2017-12-07 02:38] leo6104 commented on #117
@secondcircle other solution exists. (using webpack-node-externals)
Please see this post.
https://makina-corpus.com/blog/metier/2017/how-to-setup-angular-universal

[2017-12-08 04:15] yunClouds opened #139 "angular5 _this._$element.froalaEditor is not a function"
I do not konw whether its support ng5 , I meet this
![image](https://user-images.githubusercontent.com/26613310/33750791-530db374-dc11-11e7-9a28-00dfe16cea2d.png)

and my angular.cli like this:
![image](https://user-images.githubusercontent.com/26613310/33750816-71f95478-dc11-11e7-821c-c2aab97435b6.png)

[2017-12-08 06:01] yunClouds commented on #139
its resovle after re install this

[2017-12-08 06:01] #139 closed

[2017-12-08 06:04] yunClouds opened #140 "how to set select more than 2 image"
hello
how to set select more than 2 image 。
How to achieve the same function as we do：<input type="file" multiple="multiple"/>

[2017-12-08 08:59] craidencool13 opened #142 "Ionic 2 build issue"
Hey guys,
I got this error when i built my app for production using the command below.
ionic cordova build android --prod --release

Can someone help me with this? Thanks a lot!

![image](https://user-images.githubusercontent.com/34368180/33758379-faa4d26c-dc38-11e7-9a73-31e4e8e64c30.png)

[2017-12-08 12:30] #140 closed

[2017-12-08 12:30] stefanneculai commented on #140
At this moment we don't have an option to upload multiple images at the same time.

[2017-12-08 12:32] stefanneculai commented on #142
@craidencool13 please see: hhttps://github.com/froala/angular-froala-wysiwyg/issues/132#issuecomment-347840978.

[2017-12-08 12:32] #142 closed

[2017-12-11 03:10] craidencool13 commented on #77
@cjdreiss Thanks man! That helped me a lot.

[2017-12-12 05:17] oceankai opened #143 "汉化处理"
你好,请问一下,插件栏如何汉化处理?谢谢!

[2017-12-12 05:33] yunClouds commented on #143
set the language: zh_cn;And import the js into your project in angular-cli.json:
![image](https://user-images.githubusercontent.com/26613310/33868930-e9ac7996-df40-11e7-86b7-7a9f90dbe029.png)
![image](https://user-images.githubusercontent.com/26613310/33868940-f568cfaa-df40-11e7-8bee-7e63427b01cd.png)

[2017-12-12 09:02] #134 closed

[2017-12-14 06:54] rallykuma commented on #133
@hassanasad: Out of curiosity, does the following workaround fix your issue?

`<div [ngStyle]="{'display': edit ? 'none' : 'block'}" [froalaView]="description"></div>
<div [ngStyle]="{'display': edit ? 'block' : 'none'}"">
	<textarea [froalaEditor]="editorOptions" [ngModel]="description"></textarea>
	<button (click)="edit = false">Cancel</button>
</div>`

[2017-12-14 07:13] hassanasad commented on #133
@rallykuma Yes - as long as i use a proper HTML block element it works fine.
It only acts up using  `<ng-container>`. If this can be fixed easily would be a plus point.

[2017-12-14 09:34] shiva-p17 opened #144 "Documentation help"
Hi
I'm to implement froala-wysiwyg editor with ionic 3, I don't know  how to get the editor value and how to use the events, Can you please help me to find the ionic based documentation.

Thanks

[2017-12-15 09:11] stadja commented on #103
Hey @KshitizGIT ... Did you manage to make it work ? I am facing the same issue :/

[2017-12-15 10:22] stefanneculai commented on #144
@shiva-p17 please see: https://github.com/froala/angular-froala-wysiwyg#use-with-ionic-v2-or-v3. Regarding using the editor options and events, you can find more here: https://github.com/froala/angular-froala-wysiwyg#usage.

[2017-12-15 10:22] #144 closed

[2017-12-15 10:22] stefanneculai commented on #143
@oceankai could you please let us know your problem in English? Thank you.

[2017-12-15 10:22] #143 closed

[2017-12-15 10:24] stefanneculai commented on #133
@hassanasad it is better to use the approach described by rallykuma. `ng-if` is actually removing the editor from the dom and that causes the problems.

[2017-12-15 10:24] #133 closed

[2017-12-16 21:15] bischofb opened #145 "ng build --prod not working on digital ocean"
##### Expected behavior.
Site deployed to Digital Ocean, the insert image popup should open.

##### Actual behavior.
When opening the page I get the error:
ERROR SyntaxError: Invalid regular expression: /[ÂªÂµÂºÃ€-Ã–Ã˜-Ã¶Ã¸-ËË†-Ë‘Ë -Ë¤Ë¬Ë®Í°-Í´Í¶Í·Íº-Í½Î†Îˆ-ÎŠÎŒÎŽ-Î¡Î£-ÏµÏ·-ÒÒŠ-Ô§Ô±-Õ–Õ™Õ¡-Ö‡×-×ª×°-×²Ø -ÙŠÙ®Ù¯Ù±-Û“Û•Û¥Û¦Û®Û¯Ûº-Û¼Û¿ÜÜ’-Ü¯Ý-Þ¥Þ±ßŠ-ßªß´ßµßºà €-à •à šà ¤à ¨à¡€-à¡˜à¢ à¢¢-à¢¬à¤„-à¤

[2017-12-17 20:08] xxNoxiouSxx commented on #128
@stefanneculai I am struggling with this. I have browsed all closed issues looking for some type of example and or additional information on this subject. I have managed to implement the manual initialization in my Angular component as below but when I call the changeFocus method from the focus event I still get this error.

[code]
here is the initialization method and changeFocus method.

[code]

[2017-12-18 00:29] leo6104 commented on #128
Use arrow function instead of function.

Not use
[code]

Use arrow function
[code]

[2017-12-18 04:34] PascalTemel commented on #117
@stefanneculai Any update on this? The fix above did not help.

[2017-12-18 10:09] Thaars opened #146 "Ionic Android add image issue"
In my Ionic app the insert image function is not working if I test it on a real device. In the web view everything works fine. The problem is, when i try to "Drop image (or click)" and picking an image from my gallery, I get this error:

ERROR TypeError: i.addEventListener is not a function
    at G (main.js:156361)
    at Object.H [as upload] (main.js:156361)
    at HTMLInputElement.<anonymous> (

[2017-12-18 10:16] leo6104 commented on #146
Please see #135

[2017-12-27 17:29] stefanneculai commented on #146
@leo6104 is right. Please use the solution proposed by @leo6104 here: https://github.com/froala/angular-froala-wysiwyg/issues/135#issuecomment-349184468.

[2017-12-27 17:29] #146 closed

[2017-12-27 17:31] stefanneculai commented on #145
@bischofb it looks like somehow the code is minified incorrectly. Are you still getting this problem if you don't included the Code Beautifier plugin?

[2017-12-29 04:00] nptn90 opened #147 "Cannot read property 'left' of undefined"
I got the issue "Cannot read property 'left' of undefined" when trying to add the video through URL. Please tell me how to resolve it. Below are my options:
public options: Object = {

        height: 600,
        // Set gray theme name.
        theme: 'gray',
        zIndex: 2001,
        //set inline style buttons
        inlineStyles: {
            'Big Big Red': 'font-size: 50px; color: red;',

[2017-12-29 04:08] #147 closed

[2018-01-01 21:48] zivlevy opened #148 "rtl support bug with inline toolbar"
When setting toolbar option to inline while direction is set to RTL the text is aligned to the left.
Once the toolbar is in the default display mode everything looks good.
Any idea how to resolve this?

[2018-01-01 22:04] zivlevy commented on #148
`  public options: Object = {
    placeholderText: '',
    charCounterCount: false,
    direction: 'rtl',
    language : 'he',
    toolbarInline: false,
  }`
<img width="703" alt="untitled" src="https://user-images.githubusercontent.com/2978084/34471364-1a9a0b80-ef50-11e7-9354-1c8cb3d999bc.png">

just changing the toolbarinline to true:
  public options: Object = {
    placeholderText: '',
    cha

[2018-01-02 07:20] nptn90 opened #149 "editor not updated when model is changed"
because of this piece of code:
function (content) {
        if (JSON.stringify(this._oldModel) == JSON.stringify(content)) {
            return;
        }
        this._model = content;
        if (this._editorInitialized) {
            this._$element.froalaEditor('html.set', content);
        }
        else {
            this._$element.html(content);
        }
    };

We should change the old mod

[2018-01-04 00:27] bischofb commented on #145
I did a new solution and tried to repo the issue and it works fine. So the minification must be somewhere in my app that conflicts with Froala code. Will need to set aside some time to track down what could be causing the conflict with my code base.

[2018-01-04 00:27] #145 closed

[2018-01-04 19:18] GlobeFuntion commented on #55
Same Problem Here my image is uploaded to server its not loading. I am using Angular 4.Its running on localhost: 4200 and server is node which is on localhost:3000
 http://localhost:4200/froala/95bfbce24bd046a3a014981d4cb7fe62c4f5f112.jpeg 404 (Not Found)

[2018-01-06 19:32] GlobeFuntion commented on #92
I'm use project Angular 2 and project Express JS. But I when I change options like this:
public options: Object = {
imageUploadURL: 'http://localhost:5000/post/image'
}
and my server side I have function from call POST/IMAGE:
saveImage: function (req, res) {
console.log('=======>>>>>')
FroalaEditor.Image.upload(req, '/uploads/', function (err, data) {
// Return data.
if (err) {
return res.send(JSO

[2018-01-08 14:30] bogeorge opened #150 "IE11 - Copy/Paste Image - DOMException SyntaxError in polyfill.bundle.js"
I'm still trying to track this down but wanted to post in case others had some thoughts/recommendations.

When doing a copy/paste with an image on my clipboard I'm getting an exception in my polyfills.bundle.js indicating a exception of a DOMException with a SyntaxError.  I haven't been able to go back far enough in the stack trace to the root of the problem yet to see if I need additional polyfil

[2018-01-08 15:22] Thaars opened #151 "Paste image issue"
I have multiple editors. Images are inserted but not uploaded because of size limits. In the beforeUpload hook I convert them to data URIs. This works fine until I insert an image and try to copy and paste it into another instance. The other editor window is updated correctly, I see the image and it's date URI source but the model get not updated. Changing of the pastePlain option has no effect. C

[2018-01-08 16:43] stefanneculai commented on #148
@zivlevy could you please open this issue in the editor main repo: https://github.com/froala/wysiwyg-editor. Thank you!

[2018-01-08 16:43] #148 closed

[2018-01-08 16:44] stefanneculai commented on #149
@nptn90 would it be possible to move this over to a PR and create a Plunker for it? Thank you.

[2018-01-08 17:25] stefanneculai commented on #55
@GlobeFuntion could you please send the code you're using for image upload?

[2018-01-08 17:46] stefanneculai commented on #150
@bogeorge are you getting this on our website as well?

[2018-01-08 17:46] stefanneculai commented on #151
@Thaars could you please share with us the code you're using on the `beforeUpload` event so that we can check?

[2018-01-08 21:47] bogeorge commented on #150
@stefanneculai , the control is working on your website.  I started thinking that it was the Angular component wrapper around the control but didn't go very far with it.  We are using this within a SharePoint 2013 application and typically we have to use this meta tag for things to place nicely

<meta http-equiv="X-UA-Compatible" content="IE=10" />

After some head banding and experimentation I en

[2018-01-08 21:47] #150 closed

[2018-01-09 08:22] Thaars commented on #151
Sure!
[code]

[2018-01-11 16:40] lamer547 opened #152 "Metadata version mismatch for module"
ERROR in Error: Metadata version mismatch for module /Users/goszejing/Desktop/Angular Projects/Mtrlead/node_modules/angular-froala-wysiwyg/index.d.ts, found version 4, expected 3, resolving symbol AppModule in /Users/goszejing/Desktop/Angular Projects/Mtrlead/src/app/app.module.ts, resolving symbol AppModule in /Users/goszejing/Desktop/Angular Projects/Mtrlead/src/app/app.module.ts, resolving symb

[2018-01-11 16:44] stefanneculai commented on #152
https://github.com/froala/angular-froala-wysiwyg/issues/132#issuecomment-347840978

[2018-01-11 16:44] #152 closed

[2018-01-15 19:52] ConnorsFan commented on #75
Are there any plans to make it possible to enable/disable editing with Angular data binding?

[2018-01-22 07:14] anhlevfx opened #153 "How to get src of image when delete in filemanager with nodejs"
I write a nodejs server handle request from filemanager like upload, get all image etc..., but when use ImageDeleteURL I got a problem, Nodejs express can't get any param value from request DELETE. What should I do, thank you.

[2018-01-22 17:51] #153 closed

[2018-01-23 01:19] anhlevfx commented on #153
I try POST (default method) but request still don't have any parameter, I try log request use express with req.params or req.body, result is {}. I don't use Nodejs froala SDK from homepage, I recieve request and return JSON format froal required.

[2018-01-23 16:33] Derekjohnson277 opened #154 "Angular material dialog freezes and doesn't close when using custom Froala button"
I'm using a custom button to open an angular material dialog, but when the dialog opens it freezes and takes a while for the styles and content to load. Sometimes I have to click inside the dialog for anything to load. When I click the close button it doesn't close. This only happens in the dialogs opened thorugh the click on the custom froala buttons. Using the same dialog outside of the froala e

[2018-01-23 23:32] KshitizGIT commented on #103
@stadja  I had to remove server side rendering to make it work.

[2018-01-24 09:10] kittymits opened #155 "Adding Froala Editor in Angular 5 causing Uncaught (in promise): RangeError: Maximum call stack size exceeded"
Tried to use this editor in my Angular5 app.

Adding code  <div [froalaEditor]>Hello, Froala!</div> in HTML file. I could see the editor but when I move to another page (client side routing) throws the exception and renders blank page.If I remove the above line, page renders successfully. I can see this error in all the browsers( IE, Chrome etc.)

Issue:- ERROR Error: Uncaught (in promise): RangeE

[2018-01-25 15:38] anhlevfx commented on #153
Ok I find it, in form data has a src of image. close.

[2018-01-29 12:33] flanza opened #156 "How to get the editor's instance from my component?"
Hello Guys,

This is more a question than an issue:

I want to insert a HTML to the editor (using the `html.insert` method call) when the user clicks a button inside my component. But I couldn't find in the docs how do I get an instance of the editor in order to call this method.

Then, my question is: How do I get an instance of the editor inside my component code?

Can you guys help me, please?

[2018-01-31 10:35] ArduinoEthernetController commented on #156
Hi flanza,
you can try this:
HTML:
`<div (froalaInit)="initFroala($event)" [froalaEditor]="froalaOptions"></div>
<button (click)="buttonClicked($event)">CLICK</button>`
Component:
[code]

[2018-02-01 08:07] mishug commented on #155
I am having the same problem. Is there a solution to this?

[2018-02-05 01:39] AhHa45 commented on #12
a more detailed angular example would be nice.
@stefanneculai what do you mean with the on initialization event? This?
https://github.com/froala/angular-froala-wysiwyg#manual-initialization

[2018-02-05 11:01] AhHa45 commented on #12
I was finally able to resolve this.
Use the "froalaEditor.initialized" event inside of your froalaOptions object that you pass to the directive

`froalaOptions = {
  events: {
      "froalaEditor.initialized": (e, froalaEditor) => {

      /* initialize your editor here like here
       * https://www.froala.com/wysiwyg-editor/examples/at-js
       * on line 26
     */

    }
  }
}`

[2018-02-05 12:53] nourdesigner opened #157 "Metadata version mismatch for module"
I use angular4 + last version of Angular CLI

Anyone with the same issues ?

[2018-02-06 11:00] stefanneculai commented on #154
@Derekjohnson277 we would be happy to look into this if you could make a Plunker for it. Thanks.

[2018-02-06 11:02] #154 closed

[2018-02-07 07:03] stefanneculai commented on #156
@ArduinoEthernetController thanks for sharing the solution.

[2018-02-07 07:03] #156 closed

[2018-02-07 07:05] stefanneculai commented on #155
@kittymits @mishug do you think you could make a Plunker? Thanks in advance.

[2018-02-07 23:04] bhelzer commented on #149
To be clear, it doesn't update when you switch back:

1. Set Initial content to A -> OK
2. Update content to B -> OK (but _oldModel is not updated)
3. Update content to A -> ERROR (because _oldModel is still A, the U will not update and display B)

[2018-02-08 05:46] sanjay1432 opened #159 "Unlicensed copy of the Froala Editor. Use it legally by purchasing a license."
I have a license key for  Froala Editor. Can someone suggest me how to use in angular 5  Froala Editor? So that I can remove the message on editor "Unlicensed copy of the Froala Editor. Use it legally by purchasing a license. "
![froala](https://user-images.githubusercontent.com/12622101/35957419-718a53b2-0cc1-11e8-9bb5-867b274e0d76.PNG)

[2018-02-08 15:45] stefanneculai commented on #159
@sanjay1432 please reach our tech support team via our website, and we would be happy to assist https://www.froala.com/wysiwyg-editor/contact.

[2018-02-08 15:45] #159 closed

[2018-02-09 17:02] dpinheiro opened #160 "froalaEditor inside loop"
Hi

I'm trying to get multiple froala instances in the same page, a main one for the default language, and one for each language defined in an array, so I'm using the froala directive inside the loop, although only the first editor is rendered. I'm also getting this error on the console:

Someone can help me with this problem?

[2018-02-10 16:30] daveball commented on #157
Yes I have the exact same issue did you find a solution?

[2018-02-12 11:28] anerivala1412 commented on #157
I'd the same issue.Have you checked your typescript version? Changing  version {"typescript": "~2.3.3"} to {"typescript": "2.4.2"} in package.json solved my problem :)

[2018-02-12 16:58] mehdi-desu commented on #157
exact same issue here, and `ng serve --open` doesn't work anymore.
 @anerivala1412 that didn't work for me.
 i wanna cry!

[2018-02-13 15:59] omerson commented on #74
This does not help. The event is not triggered.

[2018-02-13 21:00] bsmarsh333 commented on #149
I'm also experiencing this issue, as reported by @bhelzer .

[2018-02-13 22:32] cerebroo opened #161 "Throwing error when using fullPage: true in material 2's mat-tab-group"
TypeError: Cannot read property 'document' of null

Any work around using Manual Initialization using froalaInit?

[2018-02-14 20:11] stefanneculai commented on #160
@dpinheiro could you make a Plunker for it? Thanks in advance.

[2018-02-15 10:37] dpinheiro commented on #160
There's any base plunker that can be used?

[2018-02-16 07:42] melcor76 commented on #149
I'm also having this problem.
As a workaround I set the model to null between updates.

[2018-02-16 10:21] aimad commented on #149
Solution :
$('textarea').froalaEditor('html.set', content);  ==> Update content
    $('textarea').val(content);  ===> update Model

[2018-02-17 14:23] mehdi-desu commented on #157
i've solved the problem by updating my angular app to version 5

[2018-02-20 10:26] dpinheiro commented on #160
I found out the problem, the jquery was being included once and that was causing the problem

[2018-02-20 10:26] #160 closed

[2018-02-20 17:03] iget-master opened #162 "Is it free?"
This repository readme doesn't say nothing about pricing and does not even contains a license file, but visiting the website, there's a pricing. I'm just curious if it's free or not!

[2018-02-22 06:34] danielrsantana opened #163 "Integration with FontAwesome 5"
**Expected behavior.**
Angular 5 with Font Awesome 5 Pro and Froala Editor installed from "npm install angular-froala-wysiwyg --save" should look like a texteditor.

**Actual behavior**
1) Icons appear as squares.

![image](https://user-images.githubusercontent.com/11296189/36523511-a39b8898-1780-11e8-9b68-300263560894.png)

2) A lot of warnings are displayed in my browser:

![image](https://user-

[2018-02-22 16:36] danielrsantana commented on #163
The way I've solved....

1) Following Froala documentation, I've found the concept of defining a custom template.
https://www.froala.com/wysiwyg-editor/docs/concepts/custom/button

2) Created a new template that would point to FontAwesome 5 structure
`$.FroalaEditor.DefineIconTemplate('FA5', '<i class="fas fa-[NAME]"></i>');`

3) Defined by icon default template to the one I've created
`$.FroalaEd

[2018-02-25 15:41] bostondevin commented on #149
Same problem - updating froalaModel variable works first time but not after that

[2018-02-26 16:53] PavelValentov opened #164 "How could I upload images directly to my server"
How could I upload images directly to my server without yours "https://i.froala.com"?

[2018-02-28 00:46] jeffersonsouza commented on #162
Same here... Even in docs doesn't have any place talking about Access Keys (for license).

[2018-02-28 08:52] stefanneculai commented on #162
No, it is not free. Please see https://github.com/froala/angular-froala-wysiwyg/blob/master/README.md#license.

[2018-02-28 08:52] #162 closed

[2018-02-28 13:52] mxchange opened #165 "Using `textarea` has significant performance impact with inline base64 images"
Using

[code]
instead of:

[code]

And inserting an `<img>` with `src=data:image/jpeg:base64,...............etc.` (my guess is, the larger the image the slower) will significantly impact performance, and block the main browser thread when angular is trying to detect changes on it.

This is not necessarily a bug or issue with this repo, but it might be helpful to note in the readme. And I recomment

[2018-03-01 14:37] stefanneculai commented on #74
@omerson could you please make a Plunker? Thanks in advance.

[2018-03-01 14:37] stefanneculai commented on #161
@cerebroo could you please make  a Plunker?

[2018-03-01 15:13] stefanneculai commented on #164
By default, the editor uploads the images and files to our servers so that you can test how the editor works right away. However, they are stored there only temporary and might be deleted at any time. We do strongly recommend to change this and upload it to your own server. Please read more about that on our website:
https://www.froala.com/wysiwyg-editor/docs/concepts/image-upload.

[2018-03-01 15:13] #164 closed

[2018-03-01 15:23] stefanneculai commented on #165
@mxchange the problem is most likely coming from the fact that browser performance tends to drop when using base64 inside the editable area. The reason why this is dropping more with a `textarea` is that we're making some syncs between the editable area and the original element. On top of that, Angular is probably doing few more things which kill the browser performance.

[2018-03-01 15:23] #165 closed

[2018-03-02 11:04] bboyle commented on #100
this seems to be working for me.
added to froalaOptions

[code]

[2018-03-02 14:04] gillouxxx commented on #149
I have the same issue. froalaModel do not update the UI with the new value send by the code behind.

[2018-03-02 21:21] stefanneculai commented on #151
@Thaars please also call `editor.undo.saveStep()` after inserting the image.

[2018-03-02 21:21] #151 closed

[2018-03-02 21:27] stefanneculai commented on #149
Could you of you guys make a plunker to better highlight the problem? Thank you.

[2018-03-02 21:28] stefanneculai commented on #163
It's going to be added in the next minor release of the editor.

[2018-03-02 21:28] #163 closed

[2018-03-02 21:28] stefanneculai commented on #157
This is happening because you're using Angular 4 and not Angular 5.

[2018-03-02 21:28] #157 closed

[2018-03-02 21:29] stefanneculai commented on #155
It appears to be from the fact that the editor is not destroyed before navigating to another page. I would recommend to make sure the editor instance is destroy before you go to another page.

[2018-03-02 21:29] #155 closed

[2018-03-03 17:24] meowhite commented on #74
the same problem here.
I work around as below:
`
@ViewChild('edt') edt: ElementRef;
....
// call this after init froalaEditor
$(this.edt.nativeElement).on('froalaEditor.contentChanged', (e, editor) => {
        console.log('content changed');
});
`

[2018-03-04 15:46] JCanlett commented on #100
This is still an issue for me. If the reactive form binding has any data pre-loaded, say on an edit form, then dirty is set to true on initialization of the object. This shouldn't be the case until a user changes the value.

[2018-03-05 10:47] gillouxxx commented on #149
I am trying to make froala works on stackblitz to highlight the problem but with no success... Anybody know how to make it works ? I have the error ReferenceError: $ is not defined at new FroalaEditorDirective.

[2018-03-05 17:02] mxchange commented on #165
@stefanneculai Exactly, so probably best to change `textarea` in the examples, to avoid other people from encountering this issue?

[2018-03-05 17:04] stefanneculai commented on #165
We actually do not recommend using base64 and keep using textarea.

[2018-03-06 16:18] stefanneculai commented on #100
@JCanlett do you think you could make a jsFiddle?

[2018-03-07 15:36] ConnorsFan commented on #149
I also have a problem with two-way data binding [(froalaModel)]="editorContent". The Froala editor view is updated when editorContent is changed to some text in the code, but not if that text is an empty string. It updates only when I change editorContent to non-empty text. I am using Angular 5.2.7.

@stefanneculai - Can you give us a working Plunker or Stackblitz that we could fork to reproduce t

[2018-03-07 17:51] #149 closed

[2018-03-10 03:21] Cyx1994 opened #166 "2.7.6 redeclare block-scoped variable 'ngDevMode'"
ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11):
error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.

node_modules/angular-froala-wysiwyg/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.

[2018-03-11 01:14] juanarbol commented on #114
Same issue

[2018-03-13 11:55] ckemmler opened #167 "SpellChecker integration issues"
Hi,

 I'm trying to add support for the SWAYT spell checker, but I'm running into a couple issues. First, while I have set the editor's language to French, the spellchecker remains in English only. I am testing with a free license, however, but I need confirmation that I can change the language for the spell checking using the same parameter as the language set for the editor. This is currently no

[2018-03-13 14:04] flanza commented on #156
@ArduinoEthernetController thanks, it was very useful. :D

[2018-03-13 15:35] ConnorsFan opened #168 "The contentChanged event is triggered when losing focus"
Once my Froala editor has been initialized with some content, if I set the focus in the editor (with a mouse click or by tabbing to the element), and then I set it outside of the editor, I receive a contentChanged event notification. This happens only the first time; if I set the focus in the editor again and then somewhere else, the event is not triggered.

This is a problem for me because I rely

[2018-03-13 22:46] stefanneculai commented on #166
It looks like a problem from node version: https://github.com/angular/angular/issues/21670#issuecomment-359273278.

[2018-03-13 22:46] #166 closed

[2018-03-13 22:50] stefanneculai commented on #168
Thanks for reporting this, @ConnorsFan. We're aware of it. That comes from the fact that the editor is doing some cleanup on the initial HTML and then it gets set back to the model. We're working on a fix for it.

[2018-03-14 00:58] ConnorsFan opened #169 "Displayed font family and size incorrect after Select All"
In my Angular app, the default font of the Froala editor is Tahoma, with a size of 20px. I do "Select All" and set the font family and size to Georgia and 40. If I then put the cursor inside of the editor, the font and size displayed in the dropdown lists are correct. However, when I do "Select All", I see Tahoma and 20.

[This CodePen](https://codepen.io/ConnorsFan/pen/bvEamN) shows a similar pro

[2018-03-15 17:05] ckemmler commented on #167
I missed the `scaytOptions` parameter in the documentation, so that's good.
It turned out that `pluginsEnabled:    ['spellChecker']` was causing the second issue (inline toolbar with only italic and bold buttons). Everything works now. Closing.

[2018-03-15 17:05] #167 closed

[2018-03-15 19:11] jirapatj opened #170 "_this._$element.froalaEditor is not a function in jhipster4"
I try to add froalaEditor in jhipster4 follow step by step on readme. but I found **_this._$element.froalaEditor is not a function**

![screen shot 2018-03-16 at 02 09 33](https://user-images.githubusercontent.com/7393333/37485821-1ba2c12c-28bf-11e8-8f3f-1ec545f87059.png)

How I should to fix it ?

[2018-03-16 00:32] juanarbol commented on #114
I've created a node server to upload files directly to firebase, and handle upload files to server as documentation says 🐢

[2018-03-17 07:21] unosbaghaie opened #171 "integrate Froala in visual studio 2017 in an angular project."
I try to integrate Froala in visual studio 2017 in an angular project.
I did it using [https://github.com/froala/angular-froala-wysiwyg#integration](url)
unfortunately I get this error

`vendor.js?v=jZ9_cXjuzBClABPf6hgu8vQwOwZZGMVBxheN9UOAwJA:22 ERROR Error: Uncaught (in promise): ReferenceError: $ is not defined
ReferenceError: $ is not defined
    at new FroalaEditorDirective (editor.directive.j

[2018-03-19 21:10] zymawy commented on #159
Is This Free?

[2018-03-19 21:10] stefanneculai commented on #159
@zymawy no, a license should be purchased in order to use it: https://www.froala.com/wysiwyg-editor/pricing.

[2018-03-22 20:37] MedinaGitHub opened #172 "eliminate functionalities"
¿How to eliminate the functionalities of the bar? i need remove option of upload image and browser (in image)

[2018-03-23 15:41] Taulantdisha opened #173 "this.$element.froalaEditor is not a function"
#### Im using froala with angular-cli
   * I have 2 routes `Home` and `Editor` and in the editor is where i use `Froala`.
   *  Editor Component
[code]

#### Steps to reproduce the error.
 * Initially the app redirects to `HomeComponent`, then i navigate to `EditorComponent` and up to
   this point everything works fine.
 *  Go back to `homeComponent` and navigate again to the `EditorComponent` it

[2018-03-23 15:42] Taulantdisha commented on #170
I have the same problem maybe you can try to remove `htmlRemoveTags` option if you have added it.

https://github.com/froala/angular-froala-wysiwyg/issues/173

[2018-03-27 08:49] GhuronZhan opened #174 "Demo not building"
I try to use Froala with an Angular-CLI environment and when i try to run the demo -> ERROR
`npm run demo.build` for example

the result :
[code]

[2018-03-27 20:38] kodermax opened #175 "Remove jquery"
Are you planning to get rid of jquery?

[2018-03-28 12:11] swapnilshinde48 opened #176 "angular-froala-wysiwyg integration with angular 4"
can you provide detailed example to integrate custom dropdown in angular 4.

[2018-03-28 12:15] swapnilshinde48 commented on #60
can you provide detailed example to integrate custom dropdown in angular 4.

[2018-04-03 16:17] mccool commented on #156
One of the events froala emits is `initialized` and the 2nd argument to the callback is the editor instance, so you could also just grab it from there.
[Initialized Docs](https://www.froala.com/wysiwyg-editor/docs/events#initialized)

HTML: `<div [froalaEditor]="editorOptions">Hello Froala!</div>`

The order of events in the component below would be

[code]

[code]

So the editor instance should b

[2018-04-05 21:55] Vvasconcelos opened #177 "Froala not breaking line when reaching end"
I have the following problem

[![froala not wraping the text][1]][1]

I did some digging on this matter but no success.

I need to make the editor "break line" or wrap around when pasting a big text or typing it.

Thanks!

  [1]: https://i.stack.imgur.com/2dcuw.png

[2018-04-05 22:51] stefanneculai commented on #175
Yes, it's on our roadmap and we'll get rid of it shortly.

[2018-04-05 22:51] #175 closed

[2018-04-05 22:52] stefanneculai commented on #174
That is strange. We'll have to dig it a little bit.

[2018-04-05 22:53] stefanneculai commented on #173
@Taulantdisha do you think you could make a Plunker?

[2018-04-05 22:53] stefanneculai commented on #172
Please see https://www.froala.com/wysiwyg-editor/examples/toolbar-buttons

[2018-04-05 22:53] #172 closed

[2018-04-05 22:54] stefanneculai commented on #177
Duplicate of https://github.com/froala/wysiwyg-editor/issues/2711

[2018-04-05 22:54] #177 closed

[2018-04-05 22:54] stefanneculai commented on #171
This problem is usually coming when jQuery is not defined globally or it is overridden after it was included.

[2018-04-05 22:54] #171 closed

[2018-04-05 22:55] stefanneculai commented on #176
https://github.com/froala/angular-froala-wysiwyg#extend-functionality

[2018-04-05 22:55] #176 closed

[2018-04-05 22:58] stefanneculai commented on #169
@ConnorsFan you are using an outdated version 2.3.5. Please upgrade to the latest version 2.7.6.

[2018-04-05 22:58] #169 closed

[2018-04-05 23:00] Vvasconcelos commented on #177
Sorry it's not duplicated,

on issue froala/wsysiwyg-editor#2771 the counter is to cut the pasted text.

I just want the text go wrap down than creating that overflow and scroll the text to right

just like the image!

[2018-04-05 23:02] stefanneculai commented on #177
@Vvasconcelos this doesn't look like an Angular issue. Could you please open the issue directly on the editor repo and also provide steps for us to replicate it? Thank you in advance.

[2018-04-06 00:31] ConnorsFan commented on #169
The bug is present with Froala 2.7.6, in Firefox and IE11, but not in Chrome.

I removed the CodePen reference from my original comment, since it was misleading.

[2018-04-12 20:40] evansque commented on #170
You need to import the editor plugin
`import "froala-editor/js/froala_editor.pkgd.min.js";`
from https://github.com/froala/angular-froala-wysiwyg#add-angular-froala-wysiwyg-2

[2018-04-13 08:09] aliyoge commented on #174
I have the same problem.

[2018-04-14 01:07] mipatil commented on #55
Found the reason of the issue:
Issue is that Froala sets the LINK of the uploaded image in the HTML using just the URI (folder/image).
The JSON looks like: { "link": "path/to/image.jpg" }
The HTML when opened by local brower, see the complete URL missing and assumes that it will be severed from the current web host, so prepends the current hostname.
Hence the error. The solution is to return the c

[2018-04-14 01:14] mipatil commented on #55
More over the res.sendFile(__dirname+'/'+foldername+'/'+filename); will kill your node server, find a better way to serve your images on the web.

[2018-04-15 00:27] ResioSoftware opened #178 "How i can remove a default plugin"
hi, how i can remove any default plugin?

[2018-04-19 09:23] marcodellovo opened #180 "Angular integration without JQuery dependency"
Is it possible to integrate Froala with Angular 2+ without having the JQuery dependency?

We're very interested in buying a license but we don't want to include JQuery just for this integration in our project.

Thanks

[2018-04-19 13:21] figuerres opened #181 "[(froalaModel)] is not working - runtime error"
Uncaught Error: Template parse errors:
There is no directive with "exportAs" set to "froalaModel" ("     [(froalaModel)]="page.pageContentHtml"
               name="pageContentHtml"
               [ERROR ->]#pageContentHtml="froalaModel"

trying to bind a form.
i was trying out another editor and am now trying this one.... seems that the standard angular form binding does not work ??

[2018-04-19 21:03] NexPlex opened #182 "insert read-only elements into the editor content."
Hi does Froala have the ability to insert read-only elements into the editor content?

What CKeditor calls a "Placeholder" Does this functionality exist in Froala?

https://sdk.ckeditor.com/samples/placeholder.html

![image](https://user-images.githubusercontent.com/34607168/39018269-6dee6270-43da-11e8-9517-3c34fafea9f0.png)

When the Placeholder plugin is enabled, the   button is automatically ad

[2018-04-20 04:12] morwalz opened #183 "Editor disappearing in 20 seconds."
Editor get disappeared when you are editing it. it takes 20 sec to 2 mins to disapper. we see the following error.
Cannot read property 'VOID_ELEMENTS' of null.

[2018-04-21 10:51] ishan123456789 opened #184 "How to change the key with which frola expects resultant link ?"
The frola editor by default expect the response to be like `{ "link": "path/to/image.jpg" }` but I don't handle the backend so can you please suggest something else.

[2018-04-22 14:10] stefanneculai commented on #183
@morwalz please contact us via our website for more details: https://www.froala.com/wysiwyg-editor/contact.

[2018-04-22 14:10] #183 closed

[2018-04-22 14:11] stefanneculai commented on #180
@marcodellovo we're planning on removing jQuery in the upcoming months. At this very moment, we don't have a jQuery free version,

[2018-04-22 14:11] #180 closed

[2018-04-22 14:12] stefanneculai commented on #182
We'd recommend inserting an element with the following attributes: `<span contenteditable="false" class="fr-deletable">foo</span>`.

[2018-04-22 14:12] #182 closed

[2018-04-22 14:12] stefanneculai commented on #184
https://wysiwyg-editor.froala.help/hc/en-us/articles/115000593909-How-can-I-use-a-different-image-response-

[2018-04-22 14:12] #184 closed

[2018-04-22 14:13] stefanneculai commented on #170
@jirapatj, you should it as @evansque mentioned.

[2018-04-22 14:13] #170 closed

[2018-04-23 11:06] stadja commented on #47
Yes @alfredalfie ... did you fixed this problem ? If yes, how did you do that ?

[2018-04-25 01:30] uncle-link opened #185 "_this.$element.froalaEditor is not a function"
![image](https://user-images.githubusercontent.com/15264018/39221677-f8f474ba-486a-11e8-8bc1-c2e48c1e5d0d.png)
![image](https://user-images.githubusercontent.com/15264018/39221679-fa592f8a-486a-11e8-98ef-d58080acd897.png)
![image](https://user-images.githubusercontent.com/15264018/39221692-0eb1f5a2-486b-11e8-99e5-07d8b35e2699.png)

I have add the add the froala jquery dependency , but It still hav

[2018-04-25 02:56] uncle-link commented on #185
Oh, I find the issue, in angular-froala-editor module, It has a sub node_modules and it warp a jquery module, so it will use that not my project jquery

[2018-04-25 02:56] #185 closed

[2018-04-25 09:54] hassanasad opened #186 "Value is null if editor is part of *ngIf and user doesn't focus inside the Froala editor"
If the editor is enabled using `*ngIf` and template reference variable is used to grab its value it spits out undefined/null if the user **does NOT focus** the editor.
However: If user **does** focus - the value matches the editor content. Any idea how to fix this?

[code]

[code]

[2018-04-25 10:09] hassanasad commented on #186
Found a solution to fix this. Changed `[ngModel]` to `[froalaModel]` and it now works as expected.

[2018-04-25 10:09] #186 closed

[2018-04-26 01:29] vibingopal opened #187 "How to save the contents in the same format when submit and retrieve in the same format"
Hello Team,

May i know how to save the contents in the same format when user submitted the form after inserting content, uploading/embeding videos and retrieve back in the same order?

[2018-04-27 10:35] HeratPatel1 commented on #75
how can I disable it on click on button ?
I am working on React Js.
I tried following

`public options: Object = {
  placeholder: "Edit Me",
  events : {
    'froalaEditor.initialized' : function(e, editor) {
      editor.edit.off();
    }
  }
}
`
It disables my editor.
but I need to Enabled on button click and vice versa.
so I make two configs one for enabled and one for disabled but It does not

[2018-04-27 11:14] sarbull commented on #166
i'm also facing this issue but on another thread using only angular and angular/cli so it's not a froala issue actually, check this issue https://github.com/tiaguinho/ionic2-mask-directive/issues/10

[2018-04-27 14:24] AhHa45 opened #188 "Placeholder not placed correct on init"
I initialize my froala editor on init of my component.
The placeholder text is set dynamically.
The placeholder is not placed correctly if I do so (see attached screenshot).
(When focusing the editor with a mouse click the placeholder gets the correct position)

![froala-placeholder-alignment](https://user-images.githubusercontent.com/4215561/39366626-beeed1f4-4a34-11e8-8c71-6000a723c1c4.png)

[2018-04-28 17:11] Bari77 opened #189 "Can we change language ?"
Hello,

Have you think a way to change language of icon etc ...

Cordialy, Bari.

[2018-04-30 10:36] StickNitro opened #190 "Image Base 64 Data URI"
Hi, is it possible to get the base 64 data uri of an image when adding to the editor instead of uploading the image?

[2018-05-01 15:05] dockleryxk commented on #117
It's comical how much this package needs to change to facilitate server-side rendering. That said, if you want it to work with an angular universal app, you could just import froala only on the browser side, and then place it in a component that is [dynamically loaded](https://angular.io/guide/dynamic-component-loader) only on the browser side.

[2018-05-01 15:27] dockleryxk opened #191 "Using Native Angular Events"
I know that this question has popped up a few times, #74 for example. However I don't think the answer supplied each time (see https://github.com/froala/angular2-froala-wysiwyg#events-and-methods) is what users of this package are looking for. So, I am going to try to explain what I think the issue is a bit more in-depth as I have gone through the same thing.

**Goal:** save the contents of the ed

[2018-05-02 03:29] hiepxanh commented on #117
`
import { AuthService as AuthServiceProvider } from 'ng2-ui-auth';

@Injectable()
export class MyService {
  private authProvider: any;

  constructor(
    private injector: Injector
  ) {
    if (isBrowser) {
      this.authProvider = this.injector.get(AuthServiceProvider);
    }
  }
}
`

maybe try this, i will report if it successful
https://github.com/angular/universal/issues/628

[2018-05-02 13:06] Hillcow opened #192 "Method charCounter.count does not exist in Froala Editor."
Latest version. Calling

`$('selector').froalaEditor('charCounter.count')`

getting error in console:

`Method charCounter.count does not exist in Froala Editor.`

[2018-05-03 09:44] RookieLittleFatty commented on #191
I have a similar usage, and what my problem is , i new a eventEmiter, fire it when the editor blur to get the new content， but when i focus to edit and next click the button immediately, it only fire the blur function , never fire the buttong click .  why? Did i make any mistake?

[2018-05-04 02:34] lincanli opened #193 "toolbarSticky not working as expected in chrome"
toolbarSticky not working as expected in chrome

when scroll down, toolbar will not sticky to top of screen immediately, some click on top of screen needed to invoke display of sticky toolbar.

when scroll up, toolbar will not resume normal behavior, some click inside toolbar needed to restore it's normal position.

This only happens in Chrome.
When used Safari, froala is working as expected.

[2018-05-05 17:17] lincanli commented on #175
Or, in the time being.
Can we have solution to have external jQuery linked instead of packing in the angular vendor file?

[2018-05-06 03:59] Sachinsoliya opened #194 "How to store link of image uploaded to S3"
This is what I want to do:
store the link of image uploaded to S3

export class WriterComponent implements OnInit {
  **imageLink:string;**
  constructor() { }
  ngOnInit() {
    this._usersService.getS3Hash().subscribe(resp=>{
      this.options['imageUploadToS3'] = resp;
    });
}

 public options:Object={
  heightMin:300,
  events:{
    'froalaEditor.image.uploadedToS3': function (e, editor,lin

[2018-05-07 17:17] jdodsoncollins commented on #191
I'm having an issue which sounds like has the same source as these two:

I have a callback function which is reliant on rxjs but it will not properly fire unless I do the following
1) Click custom button in froala
2) Click form input element OUTSIDE froala (to de-focus?)
3) Click custom button in froala a second time
// then the modal appears

At at that point the rxjs-based modal will open. No co

[2018-05-08 18:27] ugokcan opened #195 "Html Insert in Angular 4 (Ionic 3)"
Hello, I've tried the way below, but I couldn't insert html to froala editor.

$('.selector').froalaEditor('html.insert', 'some html content', true);

There is no any documentation about typescript implementation of froala editor. How can I make it?

Thanks in advance.

[2018-05-09 02:46] georgebatalinski opened #196 "Wrong version - $.FroalaEditor.VERSION - 2.7.6 = 2.8.1"
Can you advise me how to resolve the following?

**my package.json**
"angular-froala-wysiwyg": "2.7.6",

**console**
$.FroalaEditor.VERSION = 2.8.1

**Reason**
caret
https://github.com/froala/angular-froala-wysiwyg/blob/2.7.0/package.json#L44

seems all the way down

[2018-05-09 03:37] georgebatalinski commented on #196
This is an issue because - the 'licence renew message appears :(

[2018-05-09 07:39] stefanneculai commented on #196
Adding the following in your package.json should keep it at the same version with angular-froala-wysiwyg:

"froala-editor": "2.7.6"

[2018-05-09 07:39] #196 closed

[2018-05-09 07:40] stefanneculai commented on #195
@ugokcan see https://github.com/froala/angular-froala-wysiwyg#manual-initialization.

[2018-05-09 07:40] #195 closed

[2018-05-09 07:42] stefanneculai commented on #189
You should include the language file and then pass it as an option when initializing the editor: https://www.froala.com/wysiwyg-editor/languages

[2018-05-09 07:42] #189 closed

[2018-05-09 07:42] stefanneculai commented on #192
@Hillcow please make sure that you included the charCounter plugin.

[2018-05-09 07:42] #192 closed

[2018-05-09 07:43] stefanneculai commented on #187
@vibingopal please reach us for tech support at https://www.froala.com/wysiwyg-editor/contact.

[2018-05-09 07:43] #187 closed

[2018-05-09 07:43] stefanneculai commented on #188
@AhHa45 please make sure that you're using the latest 2.8.1 version.

[2018-05-09 07:43] #188 closed

[2018-05-09 07:44] stefanneculai commented on #190
https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-

[2018-05-09 07:44] #190 closed

[2018-05-09 08:05] stefanneculai commented on #193
@lincanli are you experiencing this on our website?

[2018-05-09 08:07] stefanneculai commented on #194
Inside the froalaEditor.image.uploadedToS3 callback, the context is not the component context, but the editor one.  You should use the context of the imageLink instead of this.

[2018-05-09 08:07] #194 closed

[2018-05-09 08:07] stefanneculai commented on #178
https://www.froala.com/wysiwyg-editor/docs/options#pluginsEnabled

[2018-05-09 08:07] #178 closed

[2018-05-09 13:45] ugokcan opened #197 "Web Api Integration"
Hello,

How froala sends image in http post method? I cannot get the file in web api.

Thanks in Advance.

[2018-05-09 14:00] ugokcan commented on #195
I apllied but I cannot initialize editor. Editor does not seen in  view. I think it is about that the editor cannot been created in dynamic memory. When I use this.initControls.getEditor(), it cant get editor. How can I create manually?

[2018-05-09 14:36] georgebatalinski commented on #196
@stefanneculai thank you - awesome 🚀

[2018-05-10 15:55] lincanli commented on #193
No I am experiencing this with my own site.
But if you are referring this demo https://www.froala.com/wysiwyg-editor/examples/sticky-toolbar, I fail notice toolbarSticky in both chrome and safari

[2018-05-13 07:19] xyrintech opened #198 "_this._$element.froalaEditor is not a function"
I have 2 components Home and Forum
I have used this plugin in Forum Component.

When we load the page first time then this plugin works fine. But when we navigate to different pages then it throws an error :

_this._$element.froalaEditor is not a function

[2018-05-15 07:49] xquadradpi opened #199 "Froala causes meteorInstall error on docker build"
Hi :)

currently im building an App with Meteor 1.6.1.1 and Angular 5 and after including your package, wich is working great if i run the app local, my Docker Container builds and is running, but on opening the page it shows following Error messages on developer console:

[code]

I dont know why this is happening but if i remove froala:wysiwyg it is working fine.

The first error `Unexpected toke

[2018-05-16 05:40] AhHa45 commented on #75
How can I disable the editor not on init. but dynamically in any component?

[2018-05-16 05:46] xquadradpi commented on #75
[disable]="condition" that should Work here too

[2018-05-16 08:38] AhHa45 commented on #75
@xquadradpi no it doesn't for me

[2018-05-19 00:52] shakenovdev commented on #183
@morwalz Did you find any solutions?

[2018-05-21 14:03] bravedragon623 opened #200 "Froala Editor Cursor problem in IONIC 3"
This is problem on IOS.
If editor is focused, cursor position does not change while scrolling page.
This cause bad user experience.

[2018-05-24 09:38] DT007 opened #201 "Not Working on angular 4"
Im trying to install editor but giving following error-

ERROR in Error: Metadata version mismatch for module D:/Projects/FlexCPQ/Code/UI/node_modules/angular-froala-wysiwyg/index.d.ts, found version
4, expected 3, resolving symbol QuotesModule in D:/Projects/FlexCPQ/Code/UI/src/app/quotes/quotes.module.ts, resolving symbol QuotesModule in D:/Projects/FlexCPQ/Code/UI/src/app/quotes/quotes.module.t

[2018-05-26 05:12] dgroh commented on #105
Having this issue too

![image](https://user-images.githubusercontent.com/16785357/40572732-16980750-60b4-11e8-957b-b9e0965c44ee.png)

Impossible to create a plunker due the complexity of the application.

[2018-05-29 08:29] imvikaskohli commented on #17
@pastarace Thank you  so much

[2018-05-31 02:31] #200 closed

[2018-05-31 14:10] gjongenelen opened #202 "Cannot read property 'COMMANDS' of null"
Hi, sometimes this error comes up in the console. After the error the editor disappears and text is displayed as plain.
(Also, this is triggered by smashing toolbar-buttons for a while (10 sec))
[code]
My froalaOptions are:
[code]

[2018-06-01 18:53] vibingopal opened #203 "Integrating the Editor contents with Back end"
Hello Team,

I didn't see any example which shows how the contents of the floara editor gets stored in DB and retrieved back in the same order. Could you please point me to that functionality ?

Thanks

[2018-06-01 20:40] bklik opened #204 "Overflow auto breaks scrolling focus on cursor"
# Description
If the parent to the Froala component has a styling of "overflow: auto;" it will break Froala's ability to keep focus on the cursor. If a bunch of returns are pressed, or text is pasted into the component, the cursor is unfocused below the bottom of the element. Scrolling will not occur until an alphanumeric or symbol is typed.

This causes unexpected behavior which appears to the us

[2018-06-02 19:42] mutantkeyboard commented on #203
@vibingopal what's not clear?
You simply create a `saveUrl` method as described [here](https://www.froala.com/wysiwyg-editor/docs/options#saveURL), and then invoke `save.save` [method](https://www.froala.com/wysiwyg-editor/docs/methods#save.save) which invokes the previous method.
That method will send a POST request to the backend.
As far as Angular goes, you can mimick this functionality inside

[2018-06-02 20:59] mutantkeyboard commented on #201
Try doing `npm cache verify` then `npm uninstall froala-wysiwyg`, and after that `npm install froala-wysiwyg --save`

[2018-06-06 13:06] mfalade commented on #198
I have the same issue. Works fine when on page load. Throws that error on page change.

[2018-06-07 14:04] mfalade commented on #198
@xyrintech
I struggled with this for a while but I was able to find a workaround.

My project was setup using the Angular CLI and I have followed the integration guide found [here](https://github.com/froala/angular-froala-wysiwyg#use-with-angular-cli) but I kept getting the same issue described above.

My solution was to import `jquery`, bind it to the `window` object, as well as import the editor

[2018-06-07 14:32] Zaltek commented on #202
Ran into this as well, so I opened an issue on Froala's github too:
https://github.com/froala/wysiwyg-editor/issues/2869

[2018-06-07 14:34] stefanneculai commented on #202
@gjongenelen it appears to be a configuration problem on your side. Please reach us via https://www.froala.com/wysiwyg-editor/contact and our support team can assist you.

[2018-06-07 14:34] #202 closed

[2018-06-08 14:50] leshanative commented on #201
The same issue. "cache verify" doesn't helps.

[2018-06-11 08:09] mutantkeyboard commented on #201
Can you post your `package.json` file? Seems like some of the Angular modules itself is out of the sync with others.

[2018-06-11 17:55] leshanative commented on #201
`"dependencies": {
    "@agm/core": "^1.0.0-beta.2",
    "@angular/common": "4.3.4",
    "@angular/compiler": "4.3.4",
    "@angular/core": "4.3.4",
    "@angular/forms": "4.3.4",
    "@angular/http": "4.3.4",
    "@angular/platform-browser": "4.3.4",
    "@angular/platform-browser-dynamic": "4.3.4",
    "@angular/router": "4.3.4",
    "@angular/upgrade": "4.3.4",
    "@types/googlemaps": "^3.30.7

[2018-06-11 17:56] leshanative commented on #201
"dependencies": {
    "@agm/core": "^1.0.0-beta.2",
    "@angular/common": "4.3.4",
    "@angular/compiler": "4.3.4",
    "@angular/core": "4.3.4",
    "@angular/forms": "4.3.4",
    "@angular/http": "4.3.4",
    "@angular/platform-browser": "4.3.4",
    "@angular/platform-browser-dynamic": "4.3.4",
    "@angular/router": "4.3.4",
    "@angular/upgrade": "4.3.4",
    "@types/googlemaps": "^3.30.7"

[2018-06-11 18:06] leshanative commented on #201
i can't upgrade my project's angular version, so I resolved this issue by installing 2.7.0 library version (seems compatible with angular 4.x.x)

[2018-06-14 17:12] mfalade opened #205 "ERROR TypeError: _this._$element.froalaEditor is not a function"
[BUG]

When I conditionally show/hide the editor in my angular project, it throws an error.
[code]

I discovered this happens as long as I wrap the editor in a conditional block
Example:

[code]

In the example above
+ **Editor 1** does not get initialized and throws an error
+ **Editor 2** works fine

**The error also occurs whenever I navigate from another page, to the page with the editor.**

I

[2018-06-14 20:05] VSmirnov17 commented on #205
+. I have the same problem.

[2018-06-19 09:05] anurag-arora commented on #205
I am having the same issue, the problem is that we have to initialize the editor again but they have not provided any function for it.
For now, try to use [ngStyle] with CSS property display none and block instead of ngIf

[2018-06-19 12:50] #198 closed

[2018-06-19 12:51] stefanneculai commented on #173
Please make sure that you destroy the editor instance when navigating to another component.

[2018-06-19 12:51] #173 closed

[2018-06-19 12:51] stefanneculai commented on #203
Additional to the way @mutantkeyboard suggested, you could use the model: https://github.com/froala/angular-froala-wysiwyg#model.

[2018-06-19 12:51] #203 closed

[2018-06-19 12:52] stefanneculai commented on #197
To upload images different than the default way, please use the following as a starting point: https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-.

[2018-06-19 12:52] #197 closed

[2018-06-19 12:53] stefanneculai commented on #204
You should use the `scrollableContainer` option in this situation.

[2018-06-19 12:53] #204 closed

[2018-06-19 12:54] stefanneculai commented on #193
By default, the toolbar stays at the top of the page when you scroll. In the example from https://www.froala.com/wysiwyg-editor/examples/sticky-toolbar, the toolbar remains at the top of the editable area and scrolls along with the rest of the page.

[2018-06-19 12:54] #193 closed

[2018-06-19 12:54] stefanneculai commented on #161
Closing this due to lack of response.

[2018-06-19 12:54] #161 closed

[2018-06-19 12:55] stefanneculai commented on #201
We'll create a separate build for Angular 4. It is a problem in the meta data.

[2018-06-19 12:55] #201 closed

[2018-06-19 13:01] mfalade commented on #205
Thanks for the suggestion @anurag-arora .

Conditionally showing the editor using CSS was helpful.
However, that doesn't solve the issue when someone navigates from one page to the page with the editor.

Any suggestions on how to re-initialize the editor manually ?

[2018-06-19 13:14] bklik commented on #204
scrollableContainer, dot not fix this issue. Issue still persists.

[2018-06-19 17:50] Huuuze commented on #204
Agreed. This issue is not fixed by scrollableContainer. @stefanneculai, please re-open this ticket.

[2018-06-20 04:42] anurag-arora commented on #205
`$.getScript("https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js", () => {
            $('.frola-editorr').froalaEditor();
        });`

`<div class="frola-editorr">Hello, Froala!</div>`

This is working for me.

[2018-06-20 04:58] anurag-arora commented on #205
I had also raised a ticket at their support and their reply is
Hi Anurag,

I'm glad you got in touch with us regarding the Froala Editor. It appears like you're not defining jQuery globally inside your project.

Please let me know if there is anything else I can assist you with or if you have any questions.

Best,
Stefan

[2018-06-21 11:32] lzoubek opened #206 "Froala 2.8.3: ERROR Method html.set does not exist in Froala Editor"
After upgrading to 2.8.3 I am getting following errors

`
AppComponent.html:66 ERROR Error: Method html.set does not exist in Froala Editor.
    at Function.error (scripts.bundle.js:2)
    at HTMLTextAreaElement.<anonymous> (scripts.bundle.js:10)
    at Function.each (scripts.bundle.js:2)
    at w.fn.init.each (scripts.bundle.js:2)
    at w.fn.init.D.fn.froalaEditor (scripts.bundle.js:10)
    at F

[2018-06-21 11:58] #206 closed

[2018-06-22 02:48] gulamabbas opened #207 "Custom Toolbars"
In Angular5 the buttons load if the page is refreshed but if you land to that page from another page, not all buttons load.

[2018-06-22 15:37] CuReSoft commented on #206
Same here

[2018-06-23 07:49] pawanvivekananda commented on #206
Error: Method html.set does not exist in Froala Editor.
    at Function.error (jquery.js:273)
    at HTMLDivElement.eval (froala_editor.pkgd.min.js:7)
    at Function.each (jquery.js:362)
    at jQuery.fn.init.each (jquery.js:157)
    at jQuery.fn.init.D.fn.froalaEditor (froala_editor.pkgd.min.js:7)
    at FroalaEditorDirective.updateEditor (editor.directive.js:71)
    at FroalaEditorDirective.wri

[2018-06-23 23:56] stefanneculai commented on #206
We just put a release 2.8.4 which should address this problem right away.

[2018-06-28 22:02] zaikin-andrew commented on #201
The same thing in my project. Angular 4 and `Error: Metadata version mismatch for module ... node_modules/angular-froala-wysiwyg/editor/editor.directive.d.ts, found version 4, expected 3` with 2.8.4 version.
@stefanneculai could you take a look asap?

[2018-06-29 11:55] mremil6 opened #208 "Important question with updating froala toolbar."
Hi, can i refresh toolbar after init froala for adding buttons into toolbar dynamically? And if it unreal maybe create improvement?

[2018-06-29 12:30] #208 closed

[2018-06-29 13:33] ZIqbalconsultech opened #209 "Custom Plugin for Some Specific Div"
I want to Create Custom Plugin Popup for some specific Div.
Like if we click on any image in Froala editor its show popup.
I want that kind of functionality for some Divs.
Is it Possible to do in  Froala editor?
I saw custom POPup in Froala but it only appears if we create a button on the toolbar.

[2018-06-30 02:58] KhanhHH commented on #205
@anurag-arora i added
` $.getScript("https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js", () => { $('.frola-editorr').froalaEditor(); });
`
to `ngAfterViewInit()` then it worked, but when i navigate to other component, this error pop-out:
[code]
I'm kinda confused, is there a better solution ?

[2018-07-02 08:35] phil123456 commented on #112
does not work for me :-(

[code]

[2018-07-02 08:46] phil123456 commented on #112
ok I passed the issu using this

[code]

but I get _this._$element.froalaEditor is not a function error too

[2018-07-03 02:56] DallanQ commented on #206
I don't see a release for this yet. Could you please create a release?

[2018-07-03 11:09] dorthrithil opened #210 "Angular 6 support"
I'm wondering if Angular 6 is officially supported by this package. I only find mentions of ng 6 in `package.json`:

Everywhere else support is only mentioned until ng 5.

[2018-07-03 14:20] acahinton opened #211 "Setting up editor to save images to S3"
I could really do with some help in setting up the editor to save images to S3. I'm probably not looking in the right place but I've struggled to find an example of how best to set this up.

I'm creating a signature on the server side (.net core) following the AWS instructions:
[code]
And then trying to set that in the froala options:
[code]
If you can point me in the direction of an example (I se

[2018-07-03 14:24] acahinton commented on #211
I'm using the editor within an Ionic app:
[code]

[2018-07-05 13:14] sree526 opened #212 "How to get the plain text"
I keep getting the html content when I use froalaModel or formControl is there any way to fetch the plain text enetered. I couldn't find anything in the docs as well.

[2018-07-06 13:04] #211 closed

[2018-07-08 11:09] darshanDevrai commented on #212
Don't know its the right way but I am doing it this way-
component.htm -
[code]
component.ts -
[code]

Here, I am getting inner text from froala editor when submit button is clicked. It gives me all the plain text from editor but it also gives some toolbar button names. So you have to remove those button names which I am doing with the variable `stringToReplace`. Your string to replace could be di

[2018-07-08 11:14] darshanDevrai opened #213 "How to use custom theme with angular 2?"
I have made a custom theme with the help of [customizer](https://www.froala.com/wysiwyg-editor/customize)  .
Now I want to use this theme with Editor but I am unable to do it.
I copied this custom theme in `node_modules/froala-editor/css/themes/custom-theme.css` and in index.htm I added the css link to it.
Then I used theme option with my custom theme name but its not working.
Please Help.
Than yo

[2018-07-09 05:23] sree526 commented on #212
Even I did the same thing I thought there must be some inbuilt thing for getting plain text but I couldn't find anything right now.

[2018-07-09 07:43] bindea-mihai opened #214 "Use froala editor with images doesn't work in angular 5 projects"
##### Expected behavior.
Use Froala Editor on images, after updating to version 2.8.4 should work in angular 5 projects.

##### Actual behavior.
When using the editor on an image element in an angular 5 project the image doesn't load. It used to work when using the editor in version 2.7.3

##### Steps to reproduce the problem.

1. Follow the tutorial for using the editor with webpack like presente

[2018-07-09 08:42] acahinton opened #215 "Set options when manually initializing editor"
I'm trying to set options for the editor at the point of manually initializing but it's not picking up the new options. I've seen references to "what to do" and the docs gives some guidance but I'm struggling with "how to do" it.

I'll have missed or mis-understood something so hopefully someone out there in the community can point me in the right direction.

HTML
`<div [froalaEditor]="options" (f

[2018-07-09 09:26] marcodellovo opened #216 "Layout problems integrating Code Mirror using Angular 5"
I'm trying to integrate the Code Mirror 3rd party plugin into Froala using Angular 5. I followed the instructions adding the css (codemirror.css) and js (codemirror.js, xml.js) files.

I didn't add any Code Mirror parameter in my froala config since this functionality is activated by default and I just want the basic configuration.

The result seems different from the examples I saw in the Froala

[2018-07-09 20:31] acahinton commented on #208
@mremil6 did you get this working? Am trying to achieve a similar thing by updating toolbar options during froala-init... thanks!

[2018-07-10 08:50] mremil6 commented on #208
@acahinton you can do it by destroy/init froala editor. It is the one way, that i found.

[2018-07-12 04:01] clarkorz opened #217 "Failed to build in Angular Universal (SSR)"
We use `angular-froala-wysiwyg` in an angular 6 universal project. Server side build fail due to following error:
[code]

[2018-07-13 09:03] meiordac opened #218 "Angular Universal with Froala"
I was a little bit skeptic about serving Angular Universal using Froala, but according to this issue: https://github.com/froala/angular-froala-wysiwyg/issues/23

The user was told to follow the Webpack guide which I did, so, basically I included the CopyWebpackPlugin and the ProvidePlugin with the JQuery options inside my _webpack.server.config.js_ which looks like:

[code]

Still when serving I a

[2018-07-16 15:00] kugaevsky commented on #183
@morwalz Any thoughts here?

[2018-07-17 02:15] jagabs opened #219 "tables in FroalaEditorModule are not responsive for mobile"
![image](https://user-images.githubusercontent.com/17292042/42792946-518f423c-89aa-11e8-848c-bfc4d9b7e282.png)

not scrollable

[2018-07-17 09:55] stefanneculai commented on #219
@jagabs are you able to provide more details regarding this?

[2018-07-17 14:20] bklik opened #221 "Overflow auto breaks scrolling focus on cursor"
# Note
I'm recreating this issue because #204 was hastily closed, with a non-working solution, and not reopened after two requests.

# Description
If the parent to the Froala component has a styling of "overflow: auto;" it will break Froala's ability to keep focus on the cursor. If a bunch of returns are pressed, or text is pasted into the component, the cursor is unfocused below the bottom of the

[2018-07-17 15:50] ezebc182 opened #222 "Double click in buttons inside Insert image, blocks image section"
### Version
From 2.7.2 to latest (2.8.3)

### Enviroment:

Froala-Editor home page

### Steps to reproduce:

1) In Froala Editor Open **Insert image**
2) Double click on **upload image** or **By Url**
3) The "target"(area to drag an drop image or click, input field to fill with url) is blocked and there is no way to upload an image.

![image](https://user-images.githubusercontent.com/5577862/42829

[2018-07-19 20:11] ezebc182 commented on #222
[](url)

[2018-07-20 12:14] rajukumarptc opened #223 "Froala v2.8.0 with angular 6 not working for image load. It saying error during upload"
while uploading the image it shows

code: 3
message: "Error during file upload."
400 Bad request

While i am following each thing mentioned on froala documentation.

` <textarea rows="10" [(froalaModel)]="editorContent" [froalaEditor]='options1' class="form-control"></textarea>`

option1 value

[code]

Don't know whats going on here why i am getting this error  "error during file upload"

![image]

[2018-07-20 13:07] stefanneculai commented on #221
@bklik are you able to reproduce this in a jsFiddle? https://jsfiddle.net/froala/wc5c3jhk/955/

[2018-07-20 13:24] #223 closed, assigned to nobody

[2018-07-20 13:29] stefanneculai commented on #212
The editor doesn't have a built-in method for getting the plain text - the output is HTML. If you are looking for getting plain text, then it is best to further process the output before saving it and convert to plain text.

[2018-07-20 13:29] #212 closed

[2018-07-20 13:31] stefanneculai commented on #216
@marcodellovo could you please check that you're using the 2.8.4 version?

[2018-07-20 13:33] stefanneculai commented on #218
@MattLamont at this moment we do not support server-side rendering for the Froala Editor as it requires jQuery, and as far as I know jQuery is not support on the server-side.

[2018-07-20 13:33] #218 closed

[2018-07-20 13:34] stefanneculai commented on #174
All should be good now.

[2018-07-20 13:34] #174 closed

[2018-07-20 13:36] stefanneculai commented on #181
Sorry for my late reply. @figuerres I am not sure how to reproduce this. Do you think you could send more details about how to reproduce it?

[2018-07-20 13:38] stefanneculai commented on #191
@dockleryxk thanks for all these. Probably it somehow makes sense to expose all the editor events like `(froalaEventName)="someFunction()"`. I am marking this as a `feature-request`.

[2018-07-20 13:40] stefanneculai commented on #199
I am not really sure how to reproduce this on our side. Do you think you could provide more details?

[2018-07-20 13:40] stefanneculai commented on #209
There is no such functionality built-in. What I would recommend is to create a new plugin based on the image/video one and adapt it as per your needs.

[2018-07-20 13:40] #209 closed

[2018-07-20 13:41] stefanneculai commented on #215
The editor options cannot be set after initializing the editor. They can be set only before the editor is initialized.

[2018-07-20 13:41] #215 closed

[2018-07-20 15:22] bklik commented on #221
@stefanneculai yes, just include this style:

[code]

[2018-07-20 15:39] stefanneculai commented on #221
Thanks for the details. The problem actually comes from using the max-height. Unfortunately, when using `max-height` on the scrollableContainer, we cannot really get the sizes correctly and scroll accordingly. See the update without max-height here: https://jsfiddle.net/froala/wc5c3jhk/969/.

[2018-07-20 15:52] bklik commented on #221
That defeats the entire purpose since you're back to scrolling body. Even if you set a height of 400 pixels on the box, the issue resurfaces. Calculating height of an element no matter what the style properties is pretty easy. My guess is the bug lies in your scrolling code since it's blocking the browser's default scroll behavior.

[code]

Example of default scrolling of a content editable div wi

[2018-07-20 17:10] dockleryxk commented on #191
@stefanneculai Exactly! Thank you, even with having to use a workaround for now, Froala is super awesome!

[2018-07-22 13:16] melgish opened #224 "froalaModel document gets loaded before froalaEditor options (and plugins are initialized)."
When loading editor like in the example below, the HTML gets sanitized before the enabled plugin can adjust what is allowed.  Document should be loaded only after editor has been completely configured.

[code]

[2018-07-24 12:31] stefanneculai commented on #221
I opened an issue directly on the editor repo https://github.com/froala/wysiwyg-editor/issues/2981.

[2018-07-24 12:31] #221 closed

[2018-07-24 12:40] stefanneculai commented on #224
Plugins are designed to load after the editor has been initialized. If you want to change the `htmlAllowedTags` - which is a core option - it is best to change it through an option.

[2018-07-24 12:40] #224 closed

[2018-07-26 09:40] gopinadh39 commented on #17
@pastarace  Thank you so much its working...

[2018-07-30 19:29] stefanneculai commented on #210
Version `2.8.4-1` should be compatible with Angular 6 as well. Would be amazing if you could give it a try and let us know your feedback.

[2018-07-30 19:29] #210 closed

[2018-08-03 08:43] florin-lei commented on #75
@xquadradpi same for me :(

[2018-08-06 12:44] cubet-rahul commented on #66
Hello,
I want to add the "fileUploadURL" dynamically because it is a result of API response. I think it is not possible to update the option and need to destroy the current instance and should create a new instance with new options. I work in angular and tries to update the "fileUploadURL" in a constructor function. Here is my code:

@Component({
  selector: 'app-add-service',
  templateUrl: './ad

[2018-08-06 13:49] bindea-mihai commented on #214
Any news on this issue? It's been a while...

[2018-08-06 18:08] stefanneculai commented on #66
@cubet-rahul I would recommend to use the manual initialization and initialize the editor after you get the dynamic URL: https://github.com/froala/angular-froala-wysiwyg#manual-initialization.

[2018-08-06 18:12] stefanneculai commented on #214
It's on our list for review and we should have updates shortly.

[2018-08-07 08:06] johnfrades opened #226 "Every image inserted is not uploaded to http://i.froala.com/, instead im getting blob"
Hi, currently im running 2.7.6 version of this package. Before when i started using this around March 2018, this was working fine, everytime inserted an image, the image was uploaded to i.froala.com, now im getting a blob file. Also im getting a response of "undefined" on the _'froalaEditor.image.inserted'_ event.

Is anyone experiencing this kind of issue?

thank you

[2018-08-07 11:33] Zuckjet opened #227 "how to get the edit content?"

[2018-08-07 12:49] Lifebee commented on #159
After you've licensed how to embed in the page where my builder is?

[2018-08-07 19:29] johnfrades commented on #226
Thanks for this one! I haven't been updated.. thank you so much!

[2018-08-08 08:39] Zuckjet opened #228 "how to get the editor object except for on events method?"
I know the method to get the editor object from docs:
[code]
but how can I get the editor in other place such as  my component methods:

[code]

[2018-08-08 12:08] Zuckjet opened #229 "add a title in the first line of the editor"
I want to add a title in the first line of the editor.
![image](https://user-images.githubusercontent.com/17976139/43836489-17acb7f2-9b48-11e8-9793-cb57f88d0f11.png)

And I give the `[(froalaModel)]` the initail value like that:
[code]
thing seems perfect, but when i want to achieve a `placeholder` on `h1` tag refering [this](https://stackoverflow.com/questions/20300138/is-it-possible-to-add-place

[2018-08-09 03:07] stefanneculai commented on #228
Please sue the manual initialization for that: https://github.com/froala/angular-froala-wysiwyg#manual-initialization.

[2018-08-09 03:07] #228 closed

[2018-08-09 03:09] stefanneculai commented on #229
It looks like you're using for having sort of a template in the editor. Unfortunately, at this moment we don't have such a feature.

[2018-08-09 03:09] #229 closed

[2018-08-09 08:53] davcj opened #230 "Is it possible to have a function preselected?"
We would like to have a function like "unordered list" preselected, so that when user starts to type into editor, text would already have a bullet i front. Is that possible?

[2018-08-09 09:16] paulstelzer commented on #163
@stefanneculai Seems that Froala still not using FontAwesome 5, right?

[2018-08-09 19:39] marcodellovo commented on #216
I confirm that I'm using the 2.8.4 version.

[2018-08-10 05:40] stefanneculai commented on #230
At this moment we don't have this feature, however, please make sure you subscribe to our newsletter to receive news as soon as it becomes available: https://www.froala.com/wysiwyg-editor/download#updates.

[2018-08-10 05:40] #230 closed

[2018-08-10 05:41] stefanneculai commented on #163
We're not going to add FA 5 by default, however, we have a demo for using it: https://www.froala.com/wysiwyg-editor/examples/font-awesome-5-js.

[2018-08-10 10:12] Zuckjet opened #231 "watch the fullscreen status"
I want to watch the fullscreen status of the editor, and change the layout along the fullscreend status changed.
I know the method from doc `fullscreen.isActive`. but I cannot wathc the status all the time ,this method can get the status only i call it. Or i can use `setInterval` to call `fullscreen.isActive`, but it seems very bad code.

I view the fullscreen element by chrome develop tools , it

[2018-08-11 18:09] stefanneculai commented on #231
@Zuckjet for tech support please reach us via https://www.froala.com/wysiwyg-editor/contact. We're using this repo mainly for bug tracking. Thank you in advance!

[2018-08-11 18:09] #231 closed

[2018-08-15 10:34] DaniyalZiaAwan opened #232 "Text goes outside anchor (a) tag."
Expected behavior.
Text should be entered inside anchor (a) tag.

![screenshot](https://user-images.githubusercontent.com/23167757/44144371-aa029290-a0a0-11e8-8529-2f18fdb34676.png)

Actual behavior.
I am using anchor tag 'a' as a button by applying some styling to it. Now when user enters text at start or end text goes outside of button (a) tag. Also when user selects all text to change it button

[2018-08-15 11:05] galacemiguel commented on #213
How to use the custom theme really ought to be documented somewhere. I couldn't find it [here](https://www.froala.com/wysiwyg-editor/customize) nor [here](https://www.froala.com/wysiwyg-editor/examples/color-themes).

Great job on the editor though! Loving it right now.

[2018-08-15 11:40] bindea-mihai commented on #214
Hi @stefanneculai,
Any updates on this?

[2018-08-15 14:23] zhuyujiess opened #233 "TypeError: Cannot read property 'call' of undefined"
when i use froala editor in my project , it show the error:

TypeError: Cannot read property 'call' of undefined

how to solve it ?

[2018-08-15 17:06] stefanneculai commented on #232
Duplicate of froala/wysiwyg-editor#3017.

[2018-08-15 17:06] #232 closed

[2018-08-15 17:08] stefanneculai commented on #233
@zhuyujiess could you please provide more details of the error?

[2018-08-16 01:49] #233 closed

[2018-08-18 07:55] awaxisnei commented on #217
I have the same issue :- (

[2018-08-20 07:20] moein459 opened #234 "need to refresh the Page"
working on an angular 6 version Project...
when I change my route and back to any route which has this cool Editor, it needs to refresh the page for displaying editor correctly.
Actually, it needs to refresh the page each time for showing the Editor.

[2018-08-20 07:53] mingmLiang commented on #143
I've done that，but I don't solve the problem.
![image](https://user-images.githubusercontent.com/22100065/44327412-24d5ba80-a491-11e8-8cfe-8b5eb891d579.png)
![image](https://user-images.githubusercontent.com/22100065/44327444-33bc6d00-a491-11e8-9cfd-8fc6eb9ed377.png)

[2018-08-24 18:53] dockleryxk commented on #217
[This method](https://github.com/SebastianM/angular-google-maps/issues/1052#issuecomment-331150772) could work

[2018-08-25 02:59] rockyhuber commented on #180
When is this happening? We really want to use Froala with react and no jquery.

[2018-08-27 11:02] pacoita opened #235 "Not possible to set a new language"
Even if I import the target languages file and set the language property in Froala editor's option, all the Tooltips show always only english as values.

I have the following setup:
[code]

angular.json
[code]

In my html-editor component:
[code]

How can I initialize the editor using a different language?

[2018-08-28 15:21] ryanhalley commented on #210
@stefanneculai Hi, I am testing Angular 6 support in 2.8.4-1 - I can build ok now - my first observations are that I'm missing a handful of toolbar icons: Insert Video, Upload File, Emoticons, Undo, Redo
I am using Font Awesome 5.2.0 - is that related?
It's great that I now have a bootstrap textarea, but I note that using ngModel with froala enabled on my textarea tag is not supporting ng-valid.re

[2018-08-28 17:55] SeinopSys opened #236 "IE 11 Reactive Form validation does not work"
When the editor is used as part of a FormGroup under Internet Explorer 11 it will always report an INVALID state, even if it's not empty.

[2018-08-29 06:52] rtodea commented on #154
Hi @Derekjohnson277 and @stefanneculai,

I stumbled upon this issue myself.
I cannot provide a plunker for it right now, but I can tell you how I fixed it.

### Inject `NgZone` inside the component that uses Froala
[code]

### Wrap all the callbacks with `ngZone.run`

[code]

Please note the different `this` references so you don't confuse them.

1. we need the component for accessing the injected

[2018-08-30 11:44] xrobert35 commented on #217
Yep, you juste need to install babel and to babelize the code into es2015

dependencies :

    "babel": "^6.23.0",
    "babel-cli": "^6.26.0",
    "babel-preset-es2015": "^6.24.1",

script :

`"babel:froala": "node node_modules/babel-cli/bin/babel.js node_modules/angular-froala-wysiwyg --out-dir node_modules/angular-froala-wysiwyg --presets es2015",`

[2018-08-30 12:50] xrobert35 commented on #217
Then I got a problem while rendering from server side :

`
   ZoneAwarePromise {
     __zone_symbol__state: 0,
     __zone_symbol__value: ReferenceError: $ is not defined
    at new FroalaEditorDirective (C:\workspace\WS\WS_UNIV_CMS\univ-cms\node_modules\.tmp\editor\editor.directive.ts:71:3)`

Any hint ?

[2018-08-30 19:51] dockleryxk commented on #217
@xrobert35 jquery seems to be the issue there

[2018-08-31 00:55] ConnorsFan commented on #181
@stefanneculai - When we try to associate an Angular template reference variable to the directives `froalaEditor` or `froalaModel`, we get the error mentioned by @figuerres:

`<textarea #editor="froalaEditor" [froalaEditor]="froalaOptions" [(froalaModel)]="content">`

See [this stackblitz](https://stackblitz.com/edit/ng-froala-placeholder-bug-oak9vn) for a demo.

[2018-08-31 01:20] ConnorsFan opened #237 "froalaModel not updated when the text is modified"
In some circumstances, editing the text does not update the data bound to `froalaModel`. In our case, we get texts from a database. After editing the first one, we replace the data field with the second text. If a change to that second text makes it identical to the previous text, the data is not updated. This happens very often when copy/pasting the text content, or when the same change must be m

[2018-08-31 09:15] xrobert35 commented on #217
Hello,

Yes, I was investigating in this way.

Everything works perfectly when it's rendered from browser side. So for the moment I will simply not rendering the froala editor on server side

[2018-08-31 13:08] agan116 commented on #75
Thanks

[2018-09-03 13:41] stefanneculai commented on #210
@ryanhalley please make sure that you are including the editor plugins, not only the main editor JS file.

[2018-09-03 13:43] stefanneculai commented on #236
Thanks for reporting it @SeinopSys. Do  you think you could create a demo for this?

[2018-09-03 13:45] stefanneculai commented on #235
That is strange, does it work if you put `"node_modules/froala-editor/js/languages/de.js"` instead?

[2018-09-03 14:40] stefanneculai commented on #181
Please find it updated and working here: https://stackblitz.com/edit/ng-froala-placeholder-bug-f8ctdp?file=app/froala-editor/froala-editor.component.html.

[2018-09-03 14:52] ConnorsFan commented on #181
@stefanneculai - You just removed the template reference variable `#editor="froalaEditor"`  from the markup, didn't you? But that is the bug that was reported: an error occurs when we try to assign such a variable to the directive, as we should be allowed to.

[2018-09-03 15:04] stefanneculai commented on #181
It is strange why that doesn't work. I am reopening this and we'll check it in more details.

[2018-09-03 15:14] ConnorsFan commented on #181
The error message mentions that the [exportAs](https://angular.io/api/core/Directive#exportas) option is missing from the directive.

[2018-09-03 15:15] stefanneculai commented on #181
Yes.. that is strange as we're exporting here: https://github.com/froala/angular-froala-wysiwyg/blob/master/src/index.ts#L6. Maybe we're missing something.

[2018-09-03 15:57] scurk1415 opened #238 "FroalaView does not work with inline styles"
So the issue is simple, froalaView directive does not work with inline styles.

So if my html in the editor is `<p style="text-align: center;">Some text that should be center</p>`, the froalaView directive wont take the style into account. Is there a way to fix this behavior?

[2018-09-03 18:28] SeinopSys commented on #236
I just tried to reproduce the issue with a fresh project and I could not get it to happen. It must be something with the way it's integrated into our application, which I'm not allowed to publish the source code of.

[2018-09-03 18:28] #236 closed

[2018-09-03 20:55] ConnorsFan commented on #181
@stefanneculai - I think so. For the `froalaEditor` directive, it is probably:

[code]

If I had to take a wild guess for `froalaModel`, I would try:

[code]
but I don't know if `#myVar="froalaModel"` would attach the variable to the `froalaModel` or to the `froalaEditor` directive.

[2018-09-04 07:45] #238 closed

[2018-09-04 13:43] stefanneculai commented on #181
Thanks for the suggestions, @ConnorsFan. We'll try them and put an update shortly.

[2018-09-05 14:26] pacoita commented on #235
@stefanneculai unfortunately it still does not work.

Below, as suggested, my angular.json file:

[code]

However by setting ` language: "de"` in Froala Options, it still renders only English labels:

![image](https://user-images.githubusercontent.com/13237093/45099536-cf074080-b127-11e8-8ff6-0d6ebe9df3d8.png)

[2018-09-08 20:48] iursevla opened #239 "Usage in Angular 6 broken"
Following the instructions from the README to install with angular CLI i got this error.

This is due to the fact that the jquer.min.js is inside ...\jquery\dist\jquery.min.js not ..\jquery\jquery.min.js

[2018-09-10 05:56] michaelzx commented on #239
+1

[2018-09-10 07:04] bindea-mihai commented on #214
Hi @stefanneculai
We need an answer to this ASAP, we are on hold right now because we can't update to the latest version due to this issue and version 2.7.3 is quite buggy.
Can you please give us a time frame of when will this be investigated?

[2018-09-10 13:41] lenanex opened #240 "install instructions - Jquery"
Hello,

A small mistake in the read.me file regaridng the install, it says :
`"scripts": [
  "./node_modules/jquery/jquery.min.js",
  "./node_modules/froala-editor/js/froala_editor.pkgd.min.js"
]`

but should say
`"scripts": [
  "./node_modules/jquery/**dist**/jquery.min.js",
  "./node_modules/froala-editor/js/froala_editor.pkgd.min.js"
]`

[2018-09-10 14:54] adnanrafique opened #241 "Uploading Images to S3 Bucket using Angular 5"
I have implemented angular-froala-wysiwyg in my angular 5 application. I'm trying to upload my images to s3 bucket and taking help from [imageUploadToS3](https://www.froala.com/wysiwyg-editor/docs/options#imageUploadToS3), but I am stuck at how can I generate Policy and Signature.

My backend is in Python Django, If I generate policy and signature in my backend, how will I get this in Front end fo

[2018-09-10 15:02] adnanrafique commented on #194
@Sachinsoliya I am having trouble in uploading images to s3 bucket due to policy and signature. It seems you have done it already. Can you please help about how you did that?

[2018-09-10 15:38] sach975 commented on #194
@adnanrafique
Below is the code which worked for me

**Nodejs server side code to generate signature.**
[code]

**Some time issue may be in aws_config.json object structure**
{
"bucket":"web.document.images",
"region":"ap-south-1",
"keyStart":"IMAGES",
"acl":"public-read",
"AWSAccessKeyId":"*******",
"secretAccessKey":"********"
}

**angular side**
[code]
**CORS were set similar to provided on Fro

[2018-09-10 15:52] stefanneculai commented on #235
Do you think you could make a simple repo where to reproduce it?

[2018-09-10 16:08] stefanneculai commented on #240
@lenanex do you think you could make a PR? THanks.

[2018-09-10 16:09] stefanneculai commented on #214
Unfortunately, I don't have an ETA to share for it at this moment.

[2018-09-10 16:17] stefanneculai commented on #241
@adnanrafique it would be best to make the request to the server and as soon as you get the request response to initialize the editor with the new options. For that you could use the manual initialization: https://github.com/froala/angular-froala-wysiwyg#manual-initialization.

[2018-09-10 16:17] #241 closed

[2018-09-10 16:51] riafoxdev opened #242 "Adjusting font-family or color resets font size"
This issue is occurring in Angular: 5.1.2

**Expected behavior.**
Adjusting font-family and color changes only font-family and only color.

**Actual behavior.**
When changing the font-family or color of text that has previously been saved in a different font size than default, the font size gets set to default.

**Steps to reproduce the problem.**
Enter text into froala editor.
Modify font size of

[2018-09-11 05:57] cicineer commented on #128
@leo6104 this definitely works, thanks

[2018-09-11 10:59] adnanrafique commented on #241
@stefanneculai thank you for the quick response.

[2018-09-12 11:13] #214 closed

[2018-09-13 12:43] surabhimittal commented on #149
Use (froalaModelChange). It worked for me.

[2018-09-14 17:42] kallenkortuem commented on #217
Would this cause the entire `@angular/core` to be imported into `editor.directive.js`. My concern is that this would impact tree-shaking.

[2018-09-16 16:42] mssc89 commented on #240
Changing the line to ` "./node_modules/jquery/src/jquery.js"` seems to fix the problem

[2018-09-16 18:38] xrobert35 commented on #217
@kallenkortuem  hello,

I think i'm missing something (perhaps an interesting knowledge :) ) can you let me know why you think that moving to es5 will cause the entire @angular/core to be imported into editor.directive.js ?

[2018-09-17 22:05] kallenkortuem commented on #217
@xrobert35 sorry, "imported into" probably isn't the correct term. What I'm referring to is how the babel preset updates the imports in the js files from:

`import { Directive, ElementRef, ... } from @angular/core';`

to:

`var _core = require('@angular/core');`.

I've made a minimum reproduction [repository ](https://github.com/kallenkortuem/froala-babel-sourcemap-stats)that shows the difference

[2018-09-18 12:02] xrobert35 commented on #217
Thanks for the information. I will try to investigate  on **tree-shaking**

[2018-09-20 10:46] slavik990 opened #243 "`Can't resolve all parameters for FroalaEditorDirective: (?, ?)` error"
We got this error after updating from `2.8.4` to `2.8.5`.
Here plunker - https://plnkr.co/edit/tXyTMGd9G5jHQyzAOPgc?p=preview

[2018-09-25 19:54] trixrabbit commented on #188
I actually have the same problem using Version 2.8.5
[code]

[2018-09-26 16:06] trixrabbit commented on #191
This feature is what I need to make proper use of readonly on my editor